<footer class="landing-footer">
    <div class="container">
        <div class="landing-footer__has-questions">
            <div class="landing-footer__has-questions-content">
                <h3 class="landing-footer__has-questions-heading">
                    Остались вопросы?
                </h3>
                <div class="landing-footer__has-questions-text">
                    <p>
                        Мы с радостью ответим на все ваши вопросы
                        и постараемся помочь вам с выбором психолога
                    </p>
                </div>
                <a href="#" class="landing-footer__has-questions-link">
                    задать вопрос
                </a>
            </div>
        </div>
        <div class="landing-footer__top-row">
            <a href="#" class="landing-footer__logo">
                <img src="img/landing-footer-logo.svg" alt="" class="landing-footer__logo-image">
            </a>
            <a href="mailto:lifepractic@mail.com" class="landing-footer__email">lifepractic@mail.com</a>
            <a href="#" class="landing-footer__work">
                Работа с Life practic
            </a>
            <div class="landing-footer__social">
                <a href="#" class="landing-footer__social-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                        <use xlink:href="#vk"></use>
                    </svg>
                </a>
                <a href="#" class="landing-footer__social-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                        <use xlink:href="#instagram"></use>
                    </svg>
                </a>
                <a href="#" class="landing-footer__social-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="landing-footer__bottom-row">
            <div class="landing-footer__copyright">
                © 2020–2021 Life Practic
            </div>
            <a href="#" class="landing-footer__policy">
                Политика обработки персональных данных
            </a>
            <a href="#" class="landing-footer__made-by">
                Создание сайта
                <img src="img/landing-footer-made-by.svg" alt="" class="landing-footer__made-by-image">
            </a>
        </div>
    </div>
</footer>