<div class="modals">
    <div class="modals__modal js-modal" id="help">
        <div class="modals__modal-inner modals__modal-inner--help">
            <button class="modals__modal-close js-close-modal">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <form action="/" method="POST" class="modals__help-form" id="help-form" data-need-validation>
                <h3 class="modals__help-form-heading">
                    Чем мы можем вам помочь?
                </h3>
                <div class="modals__help-form-row">
                    <input type="text" class="modals__help-form-input" required placeholder="Имя">
                </div>
                <div class="modals__help-form-row">
                    <input type="tel" class="modals__help-form-input js-phone-input" required data-parsley-phone
                        placeholder="+7 (___)-___-__-__">
                </div>
                <div class="modals__help-form-row">
                    <textarea name="comment" class="modals__help-form-input" placeholder="Сообщение"></textarea>
                </div>
                <div class="modals__help-form-row">
                    <label class="auth-psycho__checkbox">
                        <input type="checkbox" name="policy" value="1" class="auth-psycho__checkbox-input" required>
                        <span class="auth-psycho__checkbox-mark">

                        </span>
                        <span class="auth-psycho__checkbox-text">
                            Я принимаю условия <a href="#">обработки персональных данных</a>
                        </span>
                    </label>
                </div>
                <button type="submit" class="modals__help-form-submit">
                    Отправить
                </button>

                <div class="modals__help-form-success">
                    <h3 class="modals__help-form-success-heading">
                        Спасибо! Ваша<br> заявка отправлена!
                    </h3>
                    <div class="modals__help-form-success-text">
                        Наши специалисты свяжутся<br>
                        с вами после обработки заявки
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modals__modal js-modal" id="subscribe">
        <div class="modals__modal-inner modals__modal-inner--subscribe">
            <button class="modals__modal-close js-close-modal">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <div class="choose-specialist__schedules-wrapper">

                <div class="choose-specialist__schedule-content">


                    <div class="choose-specialist__schedule-left-col">
                        <h2 class="choose-specialist__schedule-heading">
                            Тенькова Зарина
                        </h2>
                        <div class="choose-specialist__schedule-features">
                            <div class="choose-specialist__schedule-features-items">


                                <div class="choose-specialist__schedule-feature-item">
                                    Семейный<br> психолог
                                </div>
                                <div class="choose-specialist__schedule-feature-item">
                                    Опыт<br> 7 лет
                                </div>
                                <div class="choose-specialist__schedule-feature-item">
                                    Стоимость<br> 1500₽
                                </div>
                            </div>
                        </div>
                        <div class="choose-specialist__specialization">
                            <ul>
                                <li>
                                    Детский психолог, недирективный игровой терапевт.
                                </li>
                                <li>
                                    Специалист по работе с приёмными семьями и детьми, имеющими травмы
                                    привязанности
                                </li>
                                <li>
                                    Детский психолог, недирективный игровой терапевт.
                                </li>
                                <li>
                                    Специалист по работе с приёмными семьями и детьми, имеющими травмы
                                    привязанности
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="choose-specialist__schedule-right-col">
                        <div class="select-time choose-specialist__schedule-select-time js-select-time">
                            <div class="select-time__top-row">
                                <div class="select-time__text">
                                    Выберите дату и время сессии (по МСК)
                                </div>
                                <div class="select-time__arrows">
                                    <button class="select-time__arrow select-time__arrow--prev">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button class="select-time__arrow select-time__arrow--next">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <form action="/" method="POST" class="select-time__form">
                                <div class="select-time__slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="select-time__card">
                                                    <div class="select-time__card-day">
                                                        Пн
                                                    </div>
                                                    <div class="select-time__card-inner">
                                                        <div class="select-time__card-date">
                                                            22
                                                        </div>
                                                        <div class="select-time__card-month">
                                                            дек
                                                        </div>
                                                        <div class="select-time__card-checkboxes">
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="10:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    10:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="13:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    13:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="14:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    14:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="18:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    18:00
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="select-time__card">
                                                    <div class="select-time__card-day">
                                                        Вт
                                                    </div>
                                                    <div class="select-time__card-inner">
                                                        <div class="select-time__card-date">
                                                            23
                                                        </div>
                                                        <div class="select-time__card-month">
                                                            дек
                                                        </div>
                                                        <div class="select-time__card-checkboxes">
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="10:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    10:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="13:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    13:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="14:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    14:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="18:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    18:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="20:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    20:00
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="select-time__card">
                                                    <div class="select-time__card-day">
                                                        Ср
                                                    </div>
                                                    <div class="select-time__card-inner">
                                                        <div class="select-time__card-date">
                                                            24
                                                        </div>
                                                        <div class="select-time__card-month">
                                                            дек
                                                        </div>
                                                        <div class="select-time__card-checkboxes">
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="10:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    10:00
                                                                </div>
                                                            </label>

                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="14:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    14:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="16:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    16:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="18:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    18:00
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="select-time__card">
                                                    <div class="select-time__card-day">
                                                        Чт
                                                    </div>
                                                    <div class="select-time__card-inner">
                                                        <div class="select-time__card-date">
                                                            25
                                                        </div>
                                                        <div class="select-time__card-month">
                                                            дек
                                                        </div>
                                                        <div class="select-time__card-checkboxes">
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="10:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    10:00
                                                                </div>
                                                            </label>

                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="13:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    13:00
                                                                </div>
                                                            </label>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="select-time__card">
                                                    <div class="select-time__card-day">
                                                        Пт
                                                    </div>
                                                    <div class="select-time__card-inner">
                                                        <div class="select-time__card-date">
                                                            26
                                                        </div>
                                                        <div class="select-time__card-month">
                                                            дек
                                                        </div>
                                                        <div class="select-time__card-checkboxes">
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="10:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    10:00
                                                                </div>
                                                            </label>

                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="13:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    13:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="13:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    14:00
                                                                </div>
                                                            </label>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="select-time__card">
                                                    <div class="select-time__card-day">
                                                        Cб
                                                    </div>
                                                    <div class="select-time__card-inner">
                                                        <div
                                                            class="select-time__card-date select-time__card-date--weekend">
                                                            27
                                                        </div>
                                                        <div
                                                            class="select-time__card-month select-time__card-month--weekend">
                                                            дек
                                                        </div>
                                                        <div class="select-time__card-checkboxes">
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="10:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    10:00
                                                                </div>
                                                            </label>

                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="13:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    13:00
                                                                </div>
                                                            </label>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="select-time__card">
                                                    <div class="select-time__card-day">
                                                        Вс
                                                    </div>
                                                    <div class="select-time__card-inner">
                                                        <div
                                                            class="select-time__card-date select-time__card-date--weekend">
                                                            28
                                                        </div>
                                                        <div
                                                            class="select-time__card-month select-time__card-month--weekend">
                                                            дек
                                                        </div>
                                                        <div class="select-time__card-checkboxes">
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="10:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    10:00
                                                                </div>
                                                            </label>

                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="13:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    13:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="14:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    14:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="16:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    16:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="18:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    18:00
                                                                </div>
                                                            </label>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="select-time__card">
                                                    <div class="select-time__card-day">
                                                        Пн
                                                    </div>
                                                    <div class="select-time__card-inner">
                                                        <div class="select-time__card-date">
                                                            29
                                                        </div>
                                                        <div class="select-time__card-month">
                                                            дек
                                                        </div>
                                                        <div class="select-time__card-checkboxes">
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="10:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    10:00
                                                                </div>
                                                            </label>

                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="13:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    13:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="14:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    14:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="16:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    16:00
                                                                </div>
                                                            </label>
                                                            <label class="select-time__card-checkbox">
                                                                <input type="radio" name="selecttime" value="18:00"
                                                                    class="select-time__card-checkbox-input">
                                                                <div class="select-time__card-checkbox-content">
                                                                    18:00
                                                                </div>
                                                            </label>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-time__form-btns">
                                    <a href="#" class="auth__form-btn">
                                        Назад
                                    </a>
                                    <button class="auth__form-btn auth__form-btn--submit">
                                        записаться и перейти к оплате
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modals__modal js-modal" id="cancel">
        <div class="modals__modal-inner modals__modal-inner--cancel">
            <button class="modals__modal-close js-close-modal">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <div class="modals__modal-cancel">
                <h2 class="modals__modal-cancel-heading">
                    Обращаем ваше внимание, что за 12 часов до сеанса оплата за сеанс не возвращается
                </h2>
                <div class="modals__modal-cancel-are-you-sure">
                    Вы действительно хотите отменить сеанс?
                </div>
                <form class="modals__modal-cancel-btns" method="POST" action="/" id="cancel-form">
                    <button class="modals__modal-cancel-btn" type="submit">
                        Да
                    </button>
                    <a href="#" class="modals__modal-cancel-btn modals__modal-cancel-btn--no js-close-modal">
                        Нет
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div class="modals__modal js-modal" id="cancel-psycho">
        <div class="modals__modal-inner modals__modal-inner--cancel">
            <button class="modals__modal-close js-close-modal">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <div class="modals__modal-cancel">
                <h2 class="modals__modal-cancel-heading">
                    Вы действительно хотите отменить сеанс?
                </h2>
                <div class="modals__modal-cancel-are-you-sure">
                    Вы действительно хотите отменить сеанс?
                </div>
                <div class="modals__modal-cancel-btns">
                    <a href="#cancel-psycho-reason" class="modals__modal-cancel-btn js-open-modal">
                        Да
                    </a>
                    <a href="#" class="modals__modal-cancel-btn modals__modal-cancel-btn--no js-close-modal">
                        Нет
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modals__modal js-modal" id="cancel-psycho-reason">
        <div class="modals__modal-inner modals__modal-inner--cancel">
            <button class="modals__modal-close js-close-modal">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <div class="modals__modal-cancel">
                <h2 class="modals__modal-cancel-heading">
                    Почему вы решили отменить сеанс?
                </h2>
                <form action="/" method="POST" class="modals__modal-cancel-reason-form" id="cancel-psycho-form">
                    <textarea name="reason" class="modals__modal-cancel-reason-textarea" placeholder="Причина отмена сеанса"></textarea>

                    <button class="modals__modal-cancel-reason-form-submit-btn" type="submit">

                        Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="modals__modal js-modal" id="used">
        <div class="modals__modal-inner modals__modal-inner--used">
            <button class="modals__modal-close js-close-modal">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <div class="modals__modal-used">
                <h2 class="modals__modal-used-heading">
                    Ошибка
                </h2>
                <div class="modals__modal-used-text">
                    <p>
                        К этому номеру уже привязана страница.<br> Пожалуйста, войдите в систему
                        или восстановите пароль
                    </p>
                </div>
                <div class="modals__modal-used-btns">
                    <a href="#" class="modals__modal-used-btn">
                        Войти
                    </a>
                    <a href="#" class="modals__modal-used-btn">
                        восстановить пароль
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="modals__modal js-modal" id="cancelled">
        <div class="modals__modal-inner modals__modal-inner--cancelled">
            <button class="modals__modal-close js-close-modal">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <div class="modals__modal-cancelled">
                Ваш сеанс отменен.
            </div>
        </div>
    </div>
    <div class="modals__modal js-modal" id="cancelled-psycho">
        <div class="modals__modal-inner modals__modal-inner--cancelled-psycho">
            <button class="modals__modal-close js-close-modal">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <div class="modals__modal-cancelled-psycho">
                Ваш сеанс отменен.
            </div>
        </div>
    </div>
    <div class="modals__modal js-modal" id="change-time">
        <div class="modals__modal-inner modals__modal-inner--change-time">
            <button class="modals__modal-close js-close-modal">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <div class="modals__change-time-modal">
                <div class="select-time choose-specialist__schedule-select-time js-select-time">
                    <div class="select-time__top-row">
                        <div class="select-time__text">
                            Выберите дату и время сессии (по МСК)
                        </div>
                        <div class="select-time__arrows">
                            <button class="select-time__arrow select-time__arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </button>
                            <button class="select-time__arrow select-time__arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <form action="/" method="POST" class="select-time__form">
                        <div class="select-time__slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="select-time__card">
                                            <div class="select-time__card-day">
                                                Пн
                                            </div>
                                            <div class="select-time__card-inner">
                                                <div class="select-time__card-date">
                                                    22
                                                </div>
                                                <div class="select-time__card-month">
                                                    дек
                                                </div>
                                                <div class="select-time__card-checkboxes">
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="10:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            10:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="13:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            13:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="14:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            14:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="18:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            18:00
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="select-time__card">
                                            <div class="select-time__card-day">
                                                Вт
                                            </div>
                                            <div class="select-time__card-inner">
                                                <div class="select-time__card-date">
                                                    23
                                                </div>
                                                <div class="select-time__card-month">
                                                    дек
                                                </div>
                                                <div class="select-time__card-checkboxes">
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="10:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            10:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="13:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            13:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="14:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            14:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="18:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            18:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="20:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            20:00
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="select-time__card">
                                            <div class="select-time__card-day">
                                                Ср
                                            </div>
                                            <div class="select-time__card-inner">
                                                <div class="select-time__card-date">
                                                    24
                                                </div>
                                                <div class="select-time__card-month">
                                                    дек
                                                </div>
                                                <div class="select-time__card-checkboxes">
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="10:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            10:00
                                                        </div>
                                                    </label>

                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="14:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            14:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="16:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            16:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="18:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            18:00
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="select-time__card">
                                            <div class="select-time__card-day">
                                                Чт
                                            </div>
                                            <div class="select-time__card-inner">
                                                <div class="select-time__card-date">
                                                    25
                                                </div>
                                                <div class="select-time__card-month">
                                                    дек
                                                </div>
                                                <div class="select-time__card-checkboxes">
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="10:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            10:00
                                                        </div>
                                                    </label>

                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="13:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            13:00
                                                        </div>
                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="select-time__card">
                                            <div class="select-time__card-day">
                                                Пт
                                            </div>
                                            <div class="select-time__card-inner">
                                                <div class="select-time__card-date">
                                                    26
                                                </div>
                                                <div class="select-time__card-month">
                                                    дек
                                                </div>
                                                <div class="select-time__card-checkboxes">
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="10:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            10:00
                                                        </div>
                                                    </label>

                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="13:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            13:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="13:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            14:00
                                                        </div>
                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="select-time__card">
                                            <div class="select-time__card-day">
                                                Cб
                                            </div>
                                            <div class="select-time__card-inner">
                                                <div class="select-time__card-date select-time__card-date--weekend">
                                                    27
                                                </div>
                                                <div class="select-time__card-month select-time__card-month--weekend">
                                                    дек
                                                </div>
                                                <div class="select-time__card-checkboxes">
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="10:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            10:00
                                                        </div>
                                                    </label>

                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="13:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            13:00
                                                        </div>
                                                    </label>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="select-time__card">
                                            <div class="select-time__card-day">
                                                Вс
                                            </div>
                                            <div class="select-time__card-inner">
                                                <div class="select-time__card-date select-time__card-date--weekend">
                                                    28
                                                </div>
                                                <div class="select-time__card-month select-time__card-month--weekend">
                                                    дек
                                                </div>
                                                <div class="select-time__card-checkboxes">
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="10:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            10:00
                                                        </div>
                                                    </label>

                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="13:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            13:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="14:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            14:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="16:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            16:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="18:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            18:00
                                                        </div>
                                                    </label>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="select-time__card">
                                            <div class="select-time__card-day">
                                                Пн
                                            </div>
                                            <div class="select-time__card-inner">
                                                <div class="select-time__card-date">
                                                    29
                                                </div>
                                                <div class="select-time__card-month">
                                                    дек
                                                </div>
                                                <div class="select-time__card-checkboxes">
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="10:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            10:00
                                                        </div>
                                                    </label>

                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="13:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            13:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="14:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            14:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="16:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            16:00
                                                        </div>
                                                    </label>
                                                    <label class="select-time__card-checkbox">
                                                        <input type="radio" name="selecttime" value="18:00"
                                                            class="select-time__card-checkbox-input">
                                                        <div class="select-time__card-checkbox-content">
                                                            18:00
                                                        </div>
                                                    </label>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="select-time__form-btns">

                            <button class="auth__form-btn auth__form-btn--submit modals__change-time-modal-btn">
                                Сохранить изменения
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modals__modal modals__modal--about  js-modal" id="about">
        <div class="modals__modal-inner modals__modal-inner--about">
            <button class="modals__modal-close js-close-modal">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <div class="modals__modal-about">
                <div class="modals__modal-about-top-row">
                    <div class="modals__modal-about-image-container">
                        <img src="img/specialists/1.jpg" alt="" class="modals__modal-about-image">
                    </div>
                    <div class="modals__modal-about-info">
                        <h3 class="modals__modal-about-info-heading">
                            Тенькова Зарина
                        </h3>
                        <div class="modals__modal-about-info-items">
                            <div class="modals__modal-about-info-item">
                                Семейный психолог
                            </div>
                            <div class="modals__modal-about-info-item">
                                Опыт 7 лет
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modals__modal-about-brief">
                    <ul>
                        <li>
                            Детский психолог, недирективный игровой терапевт.
                        </li>
                        <li>
                            Специалист по работе с приёмными семьями и детьми, имеющими травмы привязанности
                        </li>
                        <li>
                            Тренер ШПР (Школа Приемных Родителей)
                        </li>
                        <li>
                            Мама троих детей.
                        </li>
                    </ul>
                </div>
                <div class="modals__modal-about-programs">
                    <h4 class="modals__modal-about-programs-heading">
                        Программы:
                    </h4>
                    <div class="modals__modal-about-programs-text">
                        <p>
                            «Интегративная системная семейная терапия (консультирование)»
                        </p>
                        <p>
                            «Детско-родительское системное консультирование и консультирование детей с основами детской
                            психиатрии»
                        </p>
                        <p>
                            Институт практической психологии и психоанализа, Москва<br> «Недирективная игровая терапия,
                            центрированная на ребенке»
                        </p>


                        <p>

                            Институт практической психологии «ИМАТОН»<br> «Клиническая перинатальная психология»
                        </p>
                    </div>
                </div>
                <div class="modals__modal-about-experience">
                    <h4 class="modals__modal-about-programs-heading">
                        Опыт и образование:
                    </h4>
                    <div class="modals__modal-about-info-items">
                        <div class="modals__modal-about-info-item">
                            Опыт 7 лет
                        </div>
                        <div class="modals__modal-about-info-item">
                            Практика с 2013 года
                        </div>
                    </div>
                    <div class="modals__modal-about-programs-text">
                        <ul>
                            <li>
                                Казанский Федеральный Университет.
                            </li>
                            <li>
                                Специальность «Психология»
                            </li>
                            <li>
                                Институт интегративной семейной терапии, Москва
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modals__modal modals__modal--about  js-modal" id="about-client">
        <div class="modals__modal-inner modals__modal-inner--about">
            <button class="modals__modal-close js-close-modal">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <div class="modals__modal-about">
                <div class="modals__modal-about-top-row">
                    <div class="modals__modal-about-image-container">
                        <img src="img/client-large.jpg" alt="" class="modals__modal-about-image">
                    </div>
                    <div class="modals__modal-about-info">
                        <h3 class="modals__modal-about-info-heading">
                            Татьяна
                        </h3>
                        <div class="modals__modal-about-info-items">
                            <div class="modals__modal-about-info-item">
                                25 лет
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modals__modal-about-client">
                    <h4 class="modals__modal-about-client-heading">
                        Результаты анкетирования
                    </h4>
                    <ul class="modals__modal-about-client-answers-list">
                        <li class="modals__modal-about-client-list-item">
                            <div class="modals__modal-about-client-card">
                                <div class="modals__modal-about-client-card-key">
                                    C кем вам было бы комфортнее работать?
                                </div>
                                <div class="modals__modal-about-client-card-value">
                                    Мужчина
                                </div>

                            </div>
                        </li>
                        <li class="modals__modal-about-client-list-item">
                            <div class="modals__modal-about-client-card">
                                <div class="modals__modal-about-client-card-key">
                                    Важен ли возраст психолога?
                                </div>
                                <div class="modals__modal-about-client-card-value">
                                    Помоложе
                                </div>

                            </div>
                        </li>
                        <li class="modals__modal-about-client-list-item">
                            <div class="modals__modal-about-client-card">
                                <div class="modals__modal-about-client-card-key">
                                    Предпочтительное время для сеанса (по мск)
                                </div>
                                <div class="modals__modal-about-client-card-value">
                                    с 10 до 12 часов
                                </div>

                            </div>
                        </li>
                        <li class="modals__modal-about-client-list-item">
                            <div class="modals__modal-about-client-card">
                                <div class="modals__modal-about-client-card-key">
                                    Важно наличие детей у психолога?
                                </div>
                                <div class="modals__modal-about-client-card-value">
                                    Да
                                </div>

                            </div>
                        </li>
                        <li class="modals__modal-about-client-list-item">
                            <div class="modals__modal-about-client-card">
                                <div class="modals__modal-about-client-card-key">
                                    Расскажите, о ваших ожиданиях от работы с психологом
                                </div>
                                <div class="modals__modal-about-client-card-value">
                                    1-3 сеанса (Быстрое решение)
                                </div>

                            </div>
                        </li>
                        <li class="modals__modal-about-client-list-item">
                            <div class="modals__modal-about-client-card">
                                <div class="modals__modal-about-client-card-key">
                                    Что вы хотели бы обсудить?
                                </div>
                                <div class="modals__modal-about-client-card-value">
                                    <ul>
                                        <li>
                                            Справиться со стрессом
                                        </li>
                                        <li>
                                            Планирование семьи
                                        </li>
                                        <li>
                                            Повысить осознанность
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </li>

                        <li class="modals__modal-about-client-list-item">
                            <div class="modals__modal-about-client-card">
                                <div class="modals__modal-about-client-card-key">
                                    Важен ли опыт работы с ЛГБТК+
                                </div>
                                <div class="modals__modal-about-client-card-value">
                                    Да
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>