<div class="remember active">
    <div class="remember__inner">
        <h4 class="remember__heading">
            Мы напомним о сеансе!
        </h4>
        <div class="remember__text">
            <p>
                Пожалуйста, укажите свой e-mail
                и мы вам напомни о сеансе
                за 30 минут до начало
            </p>
        </div>
        <form action="/" method="POST" class="remember__form">
            <input type="email" class="remember__form-input" placeholder="E-mail">
            <button class="remember__form-submit" type="submit">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </button>
        </form>
    </div>
</div>