<div class="warning shown">
    <div class="container">
        <div class="warning__inner">
            <button class="warning__close-btn">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <svg width="14" height="14" aria-hidden="true" class="icon-warning">
                <use xlink:href="#warning"></use>
            </svg>
            <div class="warning__text">
                <p>
                    упс. Случился форс-мажор! Сеанс с Теньковой Зариной 16 декабря в 11:00 отменен, выберете новое время
                </p>
            </div>
            <a href="#change-time" class="warning__link js-open-modal">
                выбрать другой день
            </a>

        </div>
    </div>
</div>