{{#extend "layout"}}
{{#content "main"}}


<section class="faq">
    <div class="container">
        <div class="faq__row">
            <div class="faq__left-col">
                <a href="#" class="faq__back-link">
                    <div class="faq__back-link-arrow">


                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </div>
                    Назад
                </a>
            </div>
            <div class="faq__right-col">
                <div class="faq__main-card">
                    <h3 class="faq__main-card-heading">
                        Общие вопросы
                    </h3>
                    <form action="/" method="POST" class="faq__main-card-search-form">
                        <input type="text" class="faq__main-card-search-form-input" placeholder="Поиск">
                        <button class="faq__main-card-search-form-submit" type="submit">
                            <svg width="14" height="14" aria-hidden="true" class="icon-search">
                                <use xlink:href="#search"></use>
                            </svg>
                        </button>
                    </form>
                    <ul class="faq__accordions">
                        <li class="faq__accordions-item">
                            <div class="faq__accordion">
                                <div class="faq__accordion-btn">
                                    <h4 class="faq__accordion-title">
                                        Что такое психотерапия?


                                    </h4>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-accordion-cross">
                                        <use xlink:href="#accordion-cross"></use>
                                    </svg>
                                </div>
                                <div class="faq__accordion-content">
                                    <div class="faq__accordion-content-inner">
                                        Это форма регулярной заботы о себе, необходимая каждому человеку. Несмотря на
                                        то, что к психотерапевту действительно часто обращаются с конкретным запросом,
                                        это всегда начало увлекательного и полезного процесса, который выходит далеко за
                                        рамки стереотипа о “решении проблем”. В каком-то смысле психотерапия похожа на
                                        занятия с тренером в спортзале, только речь идет о поддержании в тонусе
                                        психического здоровья: психотерапия, как и спорт, нередко превращается в стиль
                                        жизни. Это инвестиция в свое психическое здоровье.
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="faq__accordions-item">
                            <div class="faq__accordion">
                                <div class="faq__accordion-btn">
                                    <h4 class="faq__accordion-title">
                                        Как работает психотерапия?


                                    </h4>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-accordion-cross">
                                        <use xlink:href="#accordion-cross"></use>
                                    </svg>
                                </div>
                                <div class="faq__accordion-content">
                                    <div class="faq__accordion-content-inner">
                                        Это форма регулярной заботы о себе, необходимая каждому человеку. Несмотря на
                                        то, что к психотерапевту действительно часто обращаются с конкретным запросом,
                                        это всегда начало увлекательного и полезного процесса, который выходит далеко за
                                        рамки стереотипа о “решении проблем”. В каком-то смысле психотерапия похожа на
                                        занятия с тренером в спортзале, только речь идет о поддержании в тонусе
                                        психического здоровья: психотерапия, как и спорт, нередко превращается в стиль
                                        жизни. Это инвестиция в свое психическое здоровье.
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="faq__accordions-item">
                            <div class="faq__accordion">
                                <div class="faq__accordion-btn">
                                    <h4 class="faq__accordion-title">
                                        Эффективна ли онлайн-терапия?


                                    </h4>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-accordion-cross">
                                        <use xlink:href="#accordion-cross"></use>
                                    </svg>
                                </div>
                                <div class="faq__accordion-content">
                                    <div class="faq__accordion-content-inner">
                                        Это форма регулярной заботы о себе, необходимая каждому человеку. Несмотря на
                                        то, что к психотерапевту действительно часто обращаются с конкретным запросом,
                                        это всегда начало увлекательного и полезного процесса, который выходит далеко за
                                        рамки стереотипа о “решении проблем”. В каком-то смысле психотерапия похожа на
                                        занятия с тренером в спортзале, только речь идет о поддержании в тонусе
                                        психического здоровья: психотерапия, как и спорт, нередко превращается в стиль
                                        жизни. Это инвестиция в свое психическое здоровье.
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="faq__accordions-item">
                            <div class="faq__accordion">
                                <div class="faq__accordion-btn">
                                    <h4 class="faq__accordion-title">
                                        Чем отличается онлайн-терапия от терапии в кабинете?


                                    </h4>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-accordion-cross">
                                        <use xlink:href="#accordion-cross"></use>
                                    </svg>
                                </div>
                                <div class="faq__accordion-content">
                                    <div class="faq__accordion-content-inner">
                                        Это форма регулярной заботы о себе, необходимая каждому человеку. Несмотря на
                                        то, что к психотерапевту действительно часто обращаются с конкретным запросом,
                                        это всегда начало увлекательного и полезного процесса, который выходит далеко за
                                        рамки стереотипа о “решении проблем”. В каком-то смысле психотерапия похожа на
                                        занятия с тренером в спортзале, только речь идет о поддержании в тонусе
                                        психического здоровья: психотерапия, как и спорт, нередко превращается в стиль
                                        жизни. Это инвестиция в свое психическое здоровье.
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="faq__accordions-item">
                            <div class="faq__accordion">
                                <div class="faq__accordion-btn">
                                    <h4 class="faq__accordion-title">
                                        Это безопасно и конфиденциально?


                                    </h4>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-accordion-cross">
                                        <use xlink:href="#accordion-cross"></use>
                                    </svg>
                                </div>
                                <div class="faq__accordion-content">
                                    <div class="faq__accordion-content-inner">
                                        Это форма регулярной заботы о себе, необходимая каждому человеку. Несмотря на
                                        то, что к психотерапевту действительно часто обращаются с конкретным запросом,
                                        это всегда начало увлекательного и полезного процесса, который выходит далеко за
                                        рамки стереотипа о “решении проблем”. В каком-то смысле психотерапия похожа на
                                        занятия с тренером в спортзале, только речь идет о поддержании в тонусе
                                        психического здоровья: психотерапия, как и спорт, нередко превращается в стиль
                                        жизни. Это инвестиция в свое психическое здоровье.
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                    <div class="faq__not-found">
                        <div class="faq__not-found-content">
                            <h3 class="faq__not-found-title">
                                Не нашли ответа на ваш вопрос?
                            </h3>
                            <div class="faq__not-found-text">
                                Свяжитесь с нами, и мы предоставим необходимую информацию
                            </div>
                            <a href="#help" class="faq__not-found-link js-open-modal">
                                Задать вопрос
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}