{{#extend "layout"}}
{{#content "main"}}

<section class="home">
    <div class="container">
        <div class="home__row">
            <div class="home__left-col">
                <div class="home__desktop-illustration">
                    {{> main-illustration }}

                    <div class="home__bush-wrapper">
                        <img src="img/bush-2.png" alt="" class="home__bush">
                    </div>

                </div>

                <div class="home__mobile-illustration">
                    <img src="img/mobile-main-illustration.svg" alt="" class="home__mobile-illustration-image"
                        width="100">
                    <img src="img/bush-mobile-2.png" alt="" class="home__mobile-bush">
                </div>
            </div>
            <div class="home__right-col">
                <div class="home__main-content">
                    <h1 class="home__main-heading">
                        Консультация<br> психотерапевта онлайн<br> из любой точки мира
                    </h1>
                    <ul class="home__features-list">
                        <li class="home__features-list-item">
                            <div class="home__features-icon-container">
                                <img src="img/features/1.svg" alt="" class="home__features-icon">
                            </div>
                            <h4 class="home__features-title">
                                Гарантированно<br> профессионалы
                            </h4>
                        </li>
                        <li class="home__features-list-item">
                            <div class="home__features-icon-container">
                                <img src="img/features/2.svg" alt="" class="home__features-icon">
                            </div>
                            <h4 class="home__features-title">

                                Удобный выбор<br> расписания
                            </h4>
                        </li>
                        <li class="home__features-list-item">
                            <div class="home__features-icon-container">
                                <img src="img/features/3.svg" alt="" class="home__features-icon">
                            </div>
                            <h4 class="home__features-title">

                                Стоимость сеанса<br> <strong>2500 ₽</strong>
                            </h4>
                        </li>
                    </ul>
                    <div class="home__buttons">
                        <a href="#" class="home__choose-btn">
                            <div class="home__choose-btn-people">
                                <img src="img/home/people-1.jpg" alt="" class="home__choose-btn-people-image">
                                <img src="img/home/people-2.jpg" alt="" class="home__choose-btn-people-image">
                                <img src="img/home/people-3.jpg" alt="" class="home__choose-btn-people-image">
                            </div>
                            Подобрать психолога
                        </a>
                        <a href="#" class="home__register-btn">
                            Регистрация
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="problems">
    <div class="container">
        <h2 class="problems__heading">
            Проблемы
        </h2>
        <div class="problems__heading-text">
            Проблемы, которые можно решить
            c помощью психолога
        </div>
        <ul class="problems__list">
            <li class="problems__list-item">
                <div class="problems__card">
                    <div class="problems__card-image-container">
                        <img data-src="img/problems/1.png" alt="" class="lazyload problems__card-image">
                    </div>
                    <div class="problems__card-content">
                        <div class="problems__card-text">
                            <em>Частые ссоры,</em> проблемы
                            в романтических
                            и семейных отношениях
                        </div>
                    </div>
                </div>
            </li>
            <li class="problems__list-item">
                <div class="problems__card">
                    <div class="problems__card-image-container">
                        <img data-src="img/problems/2.png" alt="" class="lazyload problems__card-image">
                    </div>
                    <div class="problems__card-content">
                        <div class="problems__card-text">
                            <em>Профориентация,</em> помощь
                            с выбором своего дела
                            (для взрослых и подростков)
                        </div>
                    </div>
                </div>
            </li>
            <li class="problems__list-item">
                <div class="problems__card">
                    <div class="problems__card-image-container">
                        <img data-src="img/problems/3.png" alt="" class="lazyload problems__card-image">
                    </div>
                    <div class="problems__card-content">
                        <div class="problems__card-text">
                            <em>Потеря смысла,</em> ошущение
                            собственной
                            нереализованности
                        </div>
                    </div>
                </div>
            </li>
            <li class="problems__list-item">
                <div class="problems__card">
                    <div class="problems__card-image-container">
                        <img data-src="img/problems/4.png" alt="" class="lazyload problems__card-image">
                    </div>
                    <div class="problems__card-content">
                        <div class="problems__card-text">
                            <em>Вредные привычки</em> (курение,
                            алкоголь, прокрастинация,
                            компульсивные покупки)
                        </div>
                    </div>
                </div>
            </li>
            <li class="problems__list-item">
                <div class="problems__card">
                    <div class="problems__card-image-container">
                        <img data-src="img/problems/5.png" alt="" class="lazyload problems__card-image">
                    </div>
                    <div class="problems__card-content">
                        <div class="problems__card-text">

                            Апатия, сильная усталость, <em>отсутствие мотивации</em>
                        </div>
                    </div>
                </div>
            </li>
            <li class="problems__list-item">
                <div class="problems__card">
                    <div class="problems__card-image-container">
                        <img data-src="img/problems/6.png" alt="" class="lazyload problems__card-image">
                    </div>
                    <div class="problems__card-content">
                        <div class="problems__card-text">
                            <em>
                                Нарушенное
                                пищевое поведение
                            </em>
                        </div>
                    </div>
                </div>
            </li>
            <li class="problems__list-item">
                <div class="problems__card">
                    <div class="problems__card-image-container">
                        <img data-src="img/problems/7.png" alt="" class="lazyload problems__card-image">
                    </div>
                    <div class="problems__card-content">
                        <div class="problems__card-text">
                            <em>
                                Психосоматические
                                заболевания
                            </em>
                        </div>
                    </div>
                </div>
            </li>
            <li class="problems__list-item">
                <div class="problems__card">
                    <div class="problems__card-image-container">
                        <img data-src="img/problems/8.png" alt="" class="lazyload problems__card-image">
                    </div>
                    <div class="problems__card-content">
                        <div class="problems__card-text">
                            <em>
                                Научиться говорить «Нет»
                            </em> и отстаивать свои границы
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <a href="#" class="problems__start-therapy">
            Начать терапию
        </a>
    </div>
</section>


<section class="therapy">
    <div class="therapy__bg">
        <img src="img/blue-waves.svg" alt="" class="therapy__waves">
    </div>

    <div class="container">
        <h2 class="therapy__heading">
            Терапия помогает
        </h2>
        <div class="therapy__illustration">
            <div class="therapy__solves">
                <div class="therapy__solves-card">
                    <span class="therapy__solves-card-spiral"></span>
                    <h4 class="therapy__solves-card-title">
                        Стресс и тревожность
                    </h4>
                    <div class="therapy__solves-card-text">
                        <p>
                            Научиться справляться
                            со стрессами и кризисами
                        </p>
                    </div>
                </div>
                <div class="therapy__solves-card">
                    <span class="therapy__solves-card-spiral"></span>
                    <h4 class="therapy__solves-card-title">
                        Перестать прокрастинировать
                    </h4>
                    <div class="therapy__solves-card-text">
                        <p>
                            Остановить
                            саморазрушающее поведение
                        </p>
                    </div>
                </div>
                <div class="therapy__solves-card">
                    <span class="therapy__solves-card-spiral"></span>
                    <h4 class="therapy__solves-card-title">
                        Отношения и семья
                    </h4>
                    <div class="therapy__solves-card-text">
                        <p>
                            Создавать, более здоровые отношения, покидать токсичную среду общения
                        </p>
                    </div>
                </div>
                <div class="therapy__solves-card">
                    <span class="therapy__solves-card-spiral"></span>
                    <h4 class="therapy__solves-card-title">
                        Работа
                    </h4>
                    <div class="therapy__solves-card-text">
                        <p>
                            Стать более успешным
                            в профессиональном поле, наладить финансовую ситуацию
                        </p>
                    </div>
                </div>
                <div class="therapy__solves-card">
                    <span class="therapy__solves-card-spiral"></span>
                    <h4 class="therapy__solves-card-title">
                        Кризисная психологическая поддержка
                    </h4>
                    <div class="therapy__solves-card-text">
                        <p>
                            Решать проблемы,
                            которые тянулись годами
                        </p>
                    </div>
                </div>
                <div class="therapy__solves-card">
                    <span class="therapy__solves-card-spiral"></span>
                    <h4 class="therapy__solves-card-title">
                        Найти себя
                    </h4>
                    <div class="therapy__solves-card-text">
                        <p>
                            Научиться заботиться
                            о себе и быть
                            на своей стороне
                        </p>
                    </div>
                </div>
            </div>
            <img src="img/therapy-illustration.svg" alt="" class="therapy__illustration-image">
        </div>
        <div class="therapy__how-to-choose">
            <h3 class="therapy__how-to-choose-heading">
                Как выбрать психолога сейчас?
            </h3>
            <ul class="therapy__how-to-choose-list">
                <li class="therapy__how-to-choose-list-item">
                    <div class="therapy__how-to-choose-card">
                        <div class="therapy__how-to-choose-card-image-container">
                            <img src="img/choose/1.png" alt="" class="therapy__how-to-choose-card-image">
                            <div class="therapy__how-to-choose-card-number">
                                1
                            </div>
                        </div>
                        <div class="therapy__how-to-choose-card-text">
                            <p>
                                <a href="#">
                                    Заполняете анкету
                                </a><br>
                                с вашими запросами
                            </p>
                        </div>
                    </div>
                </li>
                <li class="therapy__how-to-choose-list-item">
                    <div class="therapy__how-to-choose-card">
                        <div class="therapy__how-to-choose-card-image-container">
                            <img src="img/choose/2.png" alt="" class="therapy__how-to-choose-card-image">
                            <div class="therapy__how-to-choose-card-number">
                                2
                            </div>
                        </div>
                        <div class="therapy__how-to-choose-card-text">
                            <p>
                                Система подбирает<br>
                                вам лучших терапевтов
                            </p>
                        </div>
                    </div>
                </li>
                <li class="therapy__how-to-choose-list-item">
                    <div class="therapy__how-to-choose-card">
                        <div class="therapy__how-to-choose-card-image-container">
                            <img src="img/choose/3.png" alt="" class="therapy__how-to-choose-card-image">
                            <div class="therapy__how-to-choose-card-number">
                                3
                            </div>
                        </div>
                        <div class="therapy__how-to-choose-card-text">
                            <p>
                                Бронируете<br>
                                удобное время
                            </p>
                        </div>
                    </div>
                </li>
            </ul>


            <h3 class="therapy__begin-now">
                Начните путь к&nbsp;лучшему себе
            </h3>
            <div class="therapy__start-now">
                <div class="therapy__start-now-content">
                    <h4 class="therapy__start-now-heading">
                        Не откладывайте проблемы, начните
                        уже сейчас
                    </h4>
                    <a href="#" class="home__choose-btn">
                        <div class="home__choose-btn-people">
                            <img src="img/home/people-1.jpg" alt="" class="home__choose-btn-people-image">
                            <img src="img/home/people-2.jpg" alt="" class="home__choose-btn-people-image">
                            <img src="img/home/people-3.jpg" alt="" class="home__choose-btn-people-image">
                        </div>
                        Подобрать психолога
                    </a>
                </div>
                <img data-src="img/start-now-illustration.png" alt="" class="therapy__start-now-image lazyload">
            </div>
        </div>

        <div class="therapy__you-get">
            <div class="therapy__you-get-bg">
                <img src="img/you-get-waves.svg" alt="" class="therapy__you-get-waves">
            </div>
            <h2 class="therapy__you-get-heading">
                В терапии вы получаете!
            </h2>
            <ul class="therapy__you-get-list">
                <li class="therapy__you-get-list-item">
                    <div class="therapy__you-get-card">
                        <div class="therapy__you-get-card-image-container">
                            <img data-src="img/you-get/1.png" alt="" class="therapy__you-get-card-image lazyload">
                        </div>
                        <div class="therapy__you-get-card-content">
                            <h4 class="therapy__you-get-card-title">
                                Безопасное пространство,
                            </h4>
                            <div class="therapy__you-get-card-text">
                                <p>
                                    чтобы делиться своими чувствами и переживаниями
                                </p>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="therapy__you-get-list-item">
                    <div class="therapy__you-get-card">
                        <div class="therapy__you-get-card-image-container">
                            <img data-src="img/you-get/2.png" alt="" class="therapy__you-get-card-image lazyload">
                        </div>
                        <div class="therapy__you-get-card-content">
                            <h4 class="therapy__you-get-card-title">
                                Отсутствие оценок и осуждения-
                            </h4>
                            <div class="therapy__you-get-card-text">
                                <p>
                                    психолог всегда на вашей стороне, даже если вы совершаете ошибки
                                </p>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="therapy__you-get-list-item">
                    <div class="therapy__you-get-card">
                        <div class="therapy__you-get-card-image-container">
                            <img data-src="img/you-get/3.png" alt="" class="therapy__you-get-card-image lazyload">
                        </div>
                        <div class="therapy__you-get-card-content">
                            <h4 class="therapy__you-get-card-title">
                                Инструменты для развития
                            </h4>
                            <div class="therapy__you-get-card-text">
                                <p>
                                    новых моделей поведения, практик
                                </p>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="therapy__you-get-list-item">
                    <div class="therapy__you-get-card">
                        <div class="therapy__you-get-card-image-container">
                            <img data-src="img/you-get/4.png" alt="" class="therapy__you-get-card-image lazyload">
                        </div>
                        <div class="therapy__you-get-card-content">
                            <h4 class="therapy__you-get-card-title">
                                Опыт отношений в которых вас ценят и уважают просто так,
                            </h4>
                            <div class="therapy__you-get-card-text">
                                <p>
                                    это дает большую базу для повышения уверенности в себе
                                </p>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>

            <a href="#" class="therapy__you-get-link">
                Начать терапию
            </a>
        </div>
    </div>
</section>

<section class="how-we-choose">
    <div class="container">
        <div class="how-we-choose__heading-text">
            Только 17% проходят наш отбор
        </div>
        <h2 class="how-we-choose__heading">
            Как мы подбираем терапевтов
        </h2>
        <div class="how-we-choose__specialists">
            <a href="#" class="how-we-choose__specialists-card">
                <img src="img/how-we-choose/1.jpg" alt="" class="how-we-choose__specialists-card-image">
            </a>
            <a href="#" class="how-we-choose__specialists-card">
                <img src="img/how-we-choose/2.jpg" alt="" class="how-we-choose__specialists-card-image">
            </a>
            <a href="#" class="how-we-choose__specialists-card">
                <img src="img/how-we-choose/3.jpg" alt="" class="how-we-choose__specialists-card-image">
            </a>
            <a href="#" class="how-we-choose__specialists-card">
                <img src="img/how-we-choose/4.jpg" alt="" class="how-we-choose__specialists-card-image">
            </a>
            <a href="#" class="how-we-choose__specialists-all">
                <div class="how-we-choose__specialists-all-count">
                    +245
                </div>
                <div class="how-we-choose__specialists-all-text">
                    терапевтов
                </div>
            </a>
        </div>
        <div class="how-we-choose__cards">
            <div class="how-we-choose__card how-we-choose__card--filled">
                <img src="img/how-we-choose-illustration.svg" alt="" class="how-we-choose__card-illustration">
                <h3 class="how-we-choose__card-heading">
                    Мы регулярно проверяем
                </h3>
                <ul class="how-we-choose__card-list">
                    <li class="how-we-choose__card-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-good">
                            <use xlink:href="#good"></use>
                        </svg>
                        Диплом и его квалификацию
                    </li>
                    <li class="how-we-choose__card-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-good">
                            <use xlink:href="#good"></use>
                        </svg>
                        Опыт работы
                    </li>
                    <li class="how-we-choose__card-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-good">
                            <use xlink:href="#good"></use>
                        </svg>
                        Лицензированы ли сертификаты о дополнительном обучении - специалист проходит личную терапию и
                        супервизию
                    </li>
                    <li class="how-we-choose__card-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-good">
                            <use xlink:href="#good"></use>
                        </svg>
                        Репутацию в профессиональном сообществе
                    </li>
                    <li class="how-we-choose__card-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-good">
                            <use xlink:href="#good"></use>
                        </svg>
                        Отзывы клиентов
                    </li>
                </ul>
            </div>
            <div class="how-we-choose__card">
                <h3 class="how-we-choose__card-heading">
                    Кого мы не допускаем до работы с клиентами?
                </h3>
                <ul class="how-we-choose__card-list">
                    <li class="how-we-choose__card-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-bad">
                            <use xlink:href="#bad"></use>
                        </svg>
                        Самоучек
                    </li>
                    <li class="how-we-choose__card-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-bad">
                            <use xlink:href="#bad"></use>
                        </svg>
                        Специалистов с сомнительной репутацией и отзывами
                    </li>
                    <li class="how-we-choose__card-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-bad">
                            <use xlink:href="#bad"></use>
                        </svg>
                        Психологов без опыта работы
                    </li>
                    <li class="how-we-choose__card-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-bad">
                            <use xlink:href="#bad"></use>
                        </svg>
                        Тех, кто не проходит профессиональные проверки: регулярные аккредитации, супервизии, необходимое
                        количество часов личной терапии
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>


<section class="reviews">
    <div class="container">
        <div class="reviews__heading-text">
            Мы уже помогли 25 000 клиентов
        </div>
        <h2 class="reviews__heading">
            Что говорят о нас наши клиенты
        </h2>
        <div class="reviews__bg-wrapper">
            <div class="reviews__bg">


                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1680 1073.27" preserveAspectRatio="none" class="desktop">
                    <defs>
                        <clipPath id="a">
                            <path fill="none" d="M0 0h1680v1073.27H0z" />
                        </clipPath>
                    </defs>
                    <g clip-path="url(#a)" fill="#7abed1" fill-rule="evenodd">
                        <path
                            d="M451.13 182.75c392.26-36.34 580.48-205.28 877.15-141 263.36 57.06 379.09 164.43 503.46 287.5 125.91 124.6 254.22 216.18 182.83 362.16-77.69 158.88-341.33 262.36-667.41 327.05-304.22 60.36-551.43-24.1-845.45-59.38C208.9 924-186.37 943.24-342.07 825.76-505.76 702.25-403.85 530-290.29 377.62c117.47-157.62 110-136.37 741.42-194.87z"
                            style="isolation:isolate" opacity=".1" />
                        <path
                            d="M2068.76 265.12c163.75 133.22 36 361.13-98.2 515.27-119.17 136.83-528.39 78.24-773.82 161.86-248.47 84.66-397.24 135.83-682.64 130.66-310.59-5.63-605.7-101-724.46-243.63-110.8-133.11 87.29-282 164.41-429.12 76.8-146.54 276.22-122.46 511.47-219.91C712.84 77.79 1015.28-32.59 1311.69 9c307.15 24.83 595.23 124.45 757.07 256.12z"
                            fill-opacity=".1" />
                    </g>
                </svg>


               
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 376 529.57" preserveAspectRatio="none" class="mobile">
                    <defs>
                        <clipPath id="a">
                            <path fill="none" d="M.5.5h375v528.57H.5z" />
                        </clipPath>
                    </defs>
                    <g clip-path="url(#a)" fill="#7abed1" fill-rule="evenodd">
                        <path
                            d="M-384.92 81.33C-108.78 72.94 29-7.12 234.66 32.59c182.55 35.24 259.88 92 342.71 156.91 83.86 65.69 170.57 114.87 115.42 186.34-60 77.78-248.37 123.09-479.13 147.37-215.29 22.65-385.56-25.93-590.35-51-203.95-25-481.6-25.22-586.58-88.09-110.38-66.09-32.93-150 52-223.59 87.83-76.19 81.85-65.7 526.35-79.2z"
                            style="isolation:isolate" opacity=".1" />
                        <path
                            d="M996.69 168.56c107.49 73 6.1 182.48-96 254.72-90.61 64.13-373.76 19.29-549.87 52-178.26 33.05-285.03 53.09-484.4 39.72-217-14.54-418.35-73.5-493.87-149.54-70.46-70.94 76-138.12 137.73-209 61.48-70.6 199.7-51 369.41-91 178.43-42 395.84-86 601-53.94 213.52 24.05 409.76 84.89 516 157.04z"
                            fill-opacity=".1" />
                    </g>
                </svg>

            </div>

            <div class="reviews__slider js-reviews-slider">
                <button class="reviews__slider-arrow reviews__slider-arrow--prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-reviews-slider-prev">
                        <use xlink:href="#reviews-slider-prev"></use>
                    </svg>
                </button>
                <button class="reviews__slider-arrow reviews__slider-arrow--next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-reviews-slider-next">
                        <use xlink:href="#reviews-slider-next"></use>
                    </svg>
                </button>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/1.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Светлана Иванова
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/2.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Иван Донченко
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/3.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Михаил Беляев
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/4.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Ольга Гришина
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                        <use xlink:href="#vk"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/1.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Светлана Иванова
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/2.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Иван Донченко
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/3.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Михаил Беляев
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/4.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Ольга Гришина
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                        <use xlink:href="#vk"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/1.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Светлана Иванова
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/2.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Иван Донченко
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/3.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Михаил Беляев
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/4.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Ольга Гришина
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                        <use xlink:href="#vk"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/1.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Светлана Иванова
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/2.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Иван Донченко
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/3.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Михаил Беляев
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__card">
                                <div class="reviews__card-top-row">
                                    <div class="reviews__card-photo-container">
                                        <img data-src="img/reviews/4.jpg" alt="" class="reviews__card-photo lazyload">
                                    </div>
                                    <div class="reviews__card-info">
                                        <div class="reviews__card-name">
                                            Ольга Гришина
                                        </div>
                                        <div class="reviews__card-date">
                                            25.05.21
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__card-content">
                                    <h4 class="reviews__card-title">
                                        Я стала лучше понимать источники многих эмоций.
                                    </h4>
                                    <div class="reviews__card-text">
                                        Я давно хотела начать психотерапию, но получилось это только благодаря «Life
                                        practic» и возможности проводить сессии из любого удобного места...
                                    </div>
                                </div>
                                <div class="reviews__card-read-more">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                        <use xlink:href="#vk"></use>
                                    </svg>
                                    Читать полностью
                                </div>
                            </a>
                        </div>
                       
                    </div>
                </div>
                <div class="reviews__slider-pagination">
                    
                </div>
            </div>

            <a href="#" class="home__choose-btn reviews__choose-btn">
                <div class="home__choose-btn-people">
                    <img src="img/home/people-1.jpg" alt="" class="home__choose-btn-people-image">
                    <img src="img/home/people-2.jpg" alt="" class="home__choose-btn-people-image">
                    <img src="img/home/people-3.jpg" alt="" class="home__choose-btn-people-image">
                </div>
                Подобрать психолога
            </a>
        </div>
    </div>
</section>

<section class="methods">
    <div class="container">
        <div class="methods__row">
            <div class="methods__col">
                <img data-src="img/methods-illustration.png" alt="" class="methods__illustration lazyload">
            </div>
            <div class="methods__col">
                <div class="methods__content">
                    <div class="methods__label">
                        это нормально, что вам подходит не все
                    </div>
                    <h2 class="methods__heading">
                        Методы терапии
                    </h2>
                    <div class="methods__black-text">
                        <p>
                            В современной психотерапии множество техник, методов и инструментов, которые помогают с
                            самыми разными запросами и задачами клиента
                        </p>
                    </div>
                    <div class="methods__grey-text">
                        <p>
                            Это нормально, что вам подходит не все! Опираясь на ваши критерии, мы выберем именно того
                            практика, который сможет решить вашу индивидуальную проблему.
                        </p>
                    </div>
                    <a href="#" class="home__choose-btn">
                        <div class="home__choose-btn-people">
                            <img src="img/home/people-1.jpg" alt="" class="home__choose-btn-people-image">
                            <img src="img/home/people-2.jpg" alt="" class="home__choose-btn-people-image">
                            <img src="img/home/people-3.jpg" alt="" class="home__choose-btn-people-image">
                        </div>
                        Подобрать психолога
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>

{{/content}}
{{/extend}}