{{#extend "layout"}}
{{#content "main"}}

<div class="account">
    <div class="container">


        <div class="account__layout">
            <div class="account__layout-left-col">
                <div class="account__panel">
                    <div class="account__user">
                        <div class="account__image-container">
                            <img src="img/account-user-photo.jpg" alt="" class="account__image">
                        </div>
                        <div class="account__user-name">
                            Татьяна
                        </div>

                        <a href="#" class="account__user-phone">
                            7 (999) 435 46 46
                        </a>
                    </div>

                    <nav class="account__menu">
                        <a href="#" class="account__menu-link active">
                            <svg width="14" height="14" aria-hidden="true" class="icon-account-pencil">
                                <use xlink:href="#account-pencil"></use>
                            </svg>
                            <span class="account__menu-link-text">
                                Мои сеансы
                            </span>

                        </a>
                        <a href="#" class="account__menu-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-account-person">
                                <use xlink:href="#account-person"></use>
                            </svg>

                            <span class="account__menu-link-text">
                                Личные данные
                            </span>
                        </a>
                        <a href="#" class="account__menu-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-account-cards">
                                <use xlink:href="#account-cards"></use>
                            </svg>



                            <span class="account__menu-link-text">
                                Мои платежи
                            </span>
                        </a>
                        <a href="#" class="account__menu-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-account-exit">
                                <use xlink:href="#account-exit"></use>
                            </svg>


                            <span class="account__menu-link-text">
                                Выйти
                            </span>
                        </a>
                    </nav>

                </div>
            </div>
            <div class="account__layout-right-col">
                <div class="account__main-content account__main-content--fullwidth">
                    <div class="account__my-notes">
                        <div class="account__my-notes-tabs-nav">
                            <a href="#" class="account__my-notes-tabs-nav-link">
                                Ближайшие консультации
                            </a>
                            <a href="#" class="account__my-notes-tabs-nav-link">
                                Завершенные сеансы (10)
                            </a>
                        </div>
                        <div class="account__my-notes-row">
                            <div class="account__my-notes-left-col">
                                <div class="account__my-notes-tab-items">
                                    <div class="account__my-notes-tab-item">
                                        <div class="account__my-notes-titles">
                                            <div class="account__my-notes-title-col">
                                                <div class="account__my-notes-titles-text">
                                                    Ваш психолог
                                                </div>

                                            </div>
                                            <div class="account__my-notes-title-col">

                                                <div class="account__my-notes-titles-text">
                                                    Дата и время сеанса
                                                </div>
                                            </div>
                                            <div class="account__my-notes-title-col">

                                                <div class="account__my-notes-titles-text">
                                                    Статус
                                                </div>
                                            </div>
                                        </div>
                                        <div class="account__my-notes-results">
                                            <ul class="account__my-notes-results-list">
                                                <li class="account__my-notes-results-list-item">
                                                    <div class="account__my-notes-results-card">
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-user">
                                                                <div
                                                                    class="account__my-notes-results-card-user-image-container">
                                                                    <img src="img/specialists/1.jpg" alt=""
                                                                        class="account__my-notes-results-card-user-image">
                                                                </div>
                                                                <div
                                                                    class="account__my-notes-results-card-user-content">
                                                                    <h4
                                                                        class="account__my-notes-results-card-user-name">
                                                                        Тенькова Зарина
                                                                    </h4>
                                                                    <div
                                                                        class="account__my-notes-results-card-user-role">
                                                                        Семейный психолог
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-date">
                                                                16 декабря в 11:00<br>
                                                                (по мск)
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-subscription">
                                                                <div class="account__my-notes-results-card-status">
                                                                    Оплачен
                                                                </div>
                                                                <a href="#"
                                                                    class="account__my-notes-results-card-subscribe-btn">
                                                                    Перейти к сеансу
                                                                </a>
                                                                <div class="account__my-notes-results-card-actions">
                                                                    <svg width="14" height="14" aria-hidden="true"
                                                                        class="icon-three-dots">
                                                                        <use xlink:href="#three-dots"></use>
                                                                    </svg>
                                                                    <div
                                                                        class="account__my-notes-results-card-actions-dropdown">
                                                                        <div
                                                                            class="account__my-notes-results-card-actions-dropdown-inner">
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Изменить время сеанса
                                                                            </a>
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Отменить сеанс
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="account__my-notes-tab-item">
                                        <div class="account__my-notes-titles">
                                            <div class="account__my-notes-title-col">
                                                <div class="account__my-notes-titles-text">
                                                    Ваш психолог
                                                </div>
                                            </div>
                                            <div class="account__my-notes-title-col">
                                                <div class="account__my-notes-titles-text">
                                                    Дата и время сеанса
                                                </div>
                                            </div>
                                            <div class="account__my-notes-title-col">
                                                <div class="account__my-notes-titles-text">
                                                    Статус
                                                </div>
                                            </div>
                                        </div>
                                        <div class="account__my-notes-results">
                                            <ul class="account__my-notes-results-list">
                                                <li class="account__my-notes-results-list-item">
                                                    <div class="account__my-notes-results-card">
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-user">
                                                                <div
                                                                    class="account__my-notes-results-card-user-image-container">
                                                                    <img src="img/specialists/1.jpg" alt=""
                                                                        class="account__my-notes-results-card-user-image">
                                                                </div>
                                                                <div
                                                                    class="account__my-notes-results-card-user-content">
                                                                    <h4
                                                                        class="account__my-notes-results-card-user-name">
                                                                        Тенькова Зарина
                                                                    </h4>
                                                                    <div
                                                                        class="account__my-notes-results-card-user-role">
                                                                        Семейный психолог
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-date">
                                                                16 декабря в 11:00<br>
                                                                (по мск)
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-subscription">
                                                                <div class="account__my-notes-results-card-status">
                                                                    Оплачен
                                                                </div>
                                                                <a href="#subscribe"
                                                                    class="account__my-notes-results-card-subscribe-btn js-open-modal">
                                                                    Записаться повторно
                                                                </a>
                                                                <div class="account__my-notes-results-card-actions">
                                                                    <svg width="14" height="14" aria-hidden="true"
                                                                        class="icon-three-dots">
                                                                        <use xlink:href="#three-dots"></use>
                                                                    </svg>
                                                                    <div
                                                                        class="account__my-notes-results-card-actions-dropdown">
                                                                        <div
                                                                            class="account__my-notes-results-card-actions-dropdown-inner">
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Изменить время сеанса
                                                                            </a>
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Отменить сеанс
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="account__my-notes-results-list-item">
                                                    <div class="account__my-notes-results-card">
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-user">
                                                                <div
                                                                    class="account__my-notes-results-card-user-image-container">
                                                                    <img src="img/specialists/2.jpg" alt=""
                                                                        class="account__my-notes-results-card-user-image">
                                                                </div>
                                                                <div
                                                                    class="account__my-notes-results-card-user-content">
                                                                    <h4
                                                                        class="account__my-notes-results-card-user-name">
                                                                        Дмитрий Токмаков
                                                                    </h4>
                                                                    <div
                                                                        class="account__my-notes-results-card-user-role">
                                                                        Семейный психолог
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-date">
                                                                16 декабря в 11:00<br>
                                                                (по мск)
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-subscription">
                                                                <div class="account__my-notes-results-card-status">
                                                                    Оплачен
                                                                </div>
                                                                <a href="#subscribe"
                                                                    class="account__my-notes-results-card-subscribe-btn js-open-modal">
                                                                    Записаться повторно
                                                                </a>
                                                                <div class="account__my-notes-results-card-actions">
                                                                    <svg width="14" height="14" aria-hidden="true"
                                                                        class="icon-three-dots">
                                                                        <use xlink:href="#three-dots"></use>
                                                                    </svg>
                                                                    <div
                                                                        class="account__my-notes-results-card-actions-dropdown">
                                                                        <div
                                                                            class="account__my-notes-results-card-actions-dropdown-inner">
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Изменить время сеанса
                                                                            </a>
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Отменить сеанс
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="account__my-notes-results-list-item">
                                                    <div class="account__my-notes-results-card">
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-user">
                                                                <div
                                                                    class="account__my-notes-results-card-user-image-container">
                                                                    <img src="img/specialists/3.jpg" alt=""
                                                                        class="account__my-notes-results-card-user-image">
                                                                </div>
                                                                <div
                                                                    class="account__my-notes-results-card-user-content">
                                                                    <h4
                                                                        class="account__my-notes-results-card-user-name">
                                                                        Ирина Золотова
                                                                    </h4>
                                                                    <div
                                                                        class="account__my-notes-results-card-user-role">
                                                                        Семейный психолог
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-date">
                                                                16 декабря в 11:00<br>
                                                                (по мск)
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-subscription">
                                                                <div class="account__my-notes-results-card-status">
                                                                    Оплачен
                                                                </div>
                                                                <a href="#subscribe"
                                                                    class="account__my-notes-results-card-subscribe-btn js-open-modal">
                                                                    Записаться повторно
                                                                </a>
                                                                <div class="account__my-notes-results-card-actions">
                                                                    <svg width="14" height="14" aria-hidden="true"
                                                                        class="icon-three-dots">
                                                                        <use xlink:href="#three-dots"></use>
                                                                    </svg>
                                                                    <div
                                                                        class="account__my-notes-results-card-actions-dropdown">
                                                                        <div
                                                                            class="account__my-notes-results-card-actions-dropdown-inner">
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Изменить время сеанса
                                                                            </a>
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Отменить сеанс
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="account__my-notes-results-list-item">
                                                    <div class="account__my-notes-results-card">
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-user">
                                                                <div
                                                                    class="account__my-notes-results-card-user-image-container">
                                                                    <img src="img/specialists/1.jpg" alt=""
                                                                        class="account__my-notes-results-card-user-image">
                                                                </div>
                                                                <div
                                                                    class="account__my-notes-results-card-user-content">
                                                                    <h4
                                                                        class="account__my-notes-results-card-user-name">
                                                                        Тенькова Зарина
                                                                    </h4>
                                                                    <div
                                                                        class="account__my-notes-results-card-user-role">
                                                                        Семейный психолог
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-date">
                                                                16 декабря в 11:00<br>
                                                                (по мск)
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-subscription">
                                                                <div class="account__my-notes-results-card-status">
                                                                    Оплачен
                                                                </div>
                                                                <a href="#subscribe"
                                                                    class="account__my-notes-results-card-subscribe-btn js-open-modal">
                                                                    Записаться повторно
                                                                </a>
                                                                <div class="account__my-notes-results-card-actions">
                                                                    <svg width="14" height="14" aria-hidden="true"
                                                                        class="icon-three-dots">
                                                                        <use xlink:href="#three-dots"></use>
                                                                    </svg>
                                                                    <div
                                                                        class="account__my-notes-results-card-actions-dropdown">
                                                                        <div
                                                                            class="account__my-notes-results-card-actions-dropdown-inner">
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Изменить время сеанса
                                                                            </a>
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Отменить сеанс
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="account__my-notes-results-list-item">
                                                    <div class="account__my-notes-results-card">
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-user">
                                                                <div
                                                                    class="account__my-notes-results-card-user-image-container">
                                                                    <img src="img/specialists/2.jpg" alt=""
                                                                        class="account__my-notes-results-card-user-image">
                                                                </div>
                                                                <div
                                                                    class="account__my-notes-results-card-user-content">
                                                                    <h4
                                                                        class="account__my-notes-results-card-user-name">
                                                                        Дмитрий Токмаков
                                                                    </h4>
                                                                    <div
                                                                        class="account__my-notes-results-card-user-role">
                                                                        Семейный психолог
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-date">
                                                                16 декабря в 11:00<br>
                                                                (по мск)
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-subscription">
                                                                <div class="account__my-notes-results-card-status">
                                                                    Оплачен
                                                                </div>
                                                                <a href="#subscribe"
                                                                    class="account__my-notes-results-card-subscribe-btn js-open-modal">
                                                                    Записаться повторно
                                                                </a>
                                                                <div class="account__my-notes-results-card-actions">
                                                                    <svg width="14" height="14" aria-hidden="true"
                                                                        class="icon-three-dots">
                                                                        <use xlink:href="#three-dots"></use>
                                                                    </svg>
                                                                    <div
                                                                        class="account__my-notes-results-card-actions-dropdown">
                                                                        <div
                                                                            class="account__my-notes-results-card-actions-dropdown-inner">
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Изменить время сеанса
                                                                            </a>
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Отменить сеанс
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="account__my-notes-results-list-item">
                                                    <div class="account__my-notes-results-card">
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-user">
                                                                <div
                                                                    class="account__my-notes-results-card-user-image-container">
                                                                    <img src="img/specialists/3.jpg" alt=""
                                                                        class="account__my-notes-results-card-user-image">
                                                                </div>
                                                                <div
                                                                    class="account__my-notes-results-card-user-content">
                                                                    <h4
                                                                        class="account__my-notes-results-card-user-name">
                                                                        Ирина Золотова
                                                                    </h4>
                                                                    <div
                                                                        class="account__my-notes-results-card-user-role">
                                                                        Семейный психолог
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-date">
                                                                16 декабря в 11:00<br>
                                                                (по мск)
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-subscription">
                                                                <div class="account__my-notes-results-card-status">
                                                                    Оплачен
                                                                </div>
                                                                <a href="#subscribe"
                                                                    class="account__my-notes-results-card-subscribe-btn js-open-modal">
                                                                    Записаться повторно
                                                                </a>
                                                                <div class="account__my-notes-results-card-actions">
                                                                    <svg width="14" height="14" aria-hidden="true"
                                                                        class="icon-three-dots">
                                                                        <use xlink:href="#three-dots"></use>
                                                                    </svg>
                                                                    <div
                                                                        class="account__my-notes-results-card-actions-dropdown">
                                                                        <div
                                                                            class="account__my-notes-results-card-actions-dropdown-inner">
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Изменить время сеанса
                                                                            </a>
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Отменить сеанс
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="account__my-notes-results-list-item">
                                                    <div class="account__my-notes-results-card">
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-user">
                                                                <div
                                                                    class="account__my-notes-results-card-user-image-container">
                                                                    <img src="img/specialists/1.jpg" alt=""
                                                                        class="account__my-notes-results-card-user-image">
                                                                </div>
                                                                <div
                                                                    class="account__my-notes-results-card-user-content">
                                                                    <h4
                                                                        class="account__my-notes-results-card-user-name">
                                                                        Тенькова Зарина
                                                                    </h4>
                                                                    <div
                                                                        class="account__my-notes-results-card-user-role">
                                                                        Семейный психолог
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-date">
                                                                16 декабря в 11:00<br>
                                                                (по мск)
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-subscription">
                                                                <div class="account__my-notes-results-card-status">
                                                                    Оплачен
                                                                </div>
                                                                <a href="#subscribe"
                                                                    class="account__my-notes-results-card-subscribe-btn js-open-modal">
                                                                    Записаться повторно
                                                                </a>
                                                                <div class="account__my-notes-results-card-actions">
                                                                    <svg width="14" height="14" aria-hidden="true"
                                                                        class="icon-three-dots">
                                                                        <use xlink:href="#three-dots"></use>
                                                                    </svg>
                                                                    <div
                                                                        class="account__my-notes-results-card-actions-dropdown">
                                                                        <div
                                                                            class="account__my-notes-results-card-actions-dropdown-inner">
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Изменить время сеанса
                                                                            </a>
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Отменить сеанс
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="account__my-notes-results-list-item">
                                                    <div class="account__my-notes-results-card">
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-user">
                                                                <div
                                                                    class="account__my-notes-results-card-user-image-container">
                                                                    <img src="img/specialists/2.jpg" alt=""
                                                                        class="account__my-notes-results-card-user-image">
                                                                </div>
                                                                <div
                                                                    class="account__my-notes-results-card-user-content">
                                                                    <h4
                                                                        class="account__my-notes-results-card-user-name">
                                                                        Дмитрий Токмаков
                                                                    </h4>
                                                                    <div
                                                                        class="account__my-notes-results-card-user-role">
                                                                        Семейный психолог
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-date">
                                                                16 декабря в 11:00<br>
                                                                (по мск)
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-subscription">
                                                                <div class="account__my-notes-results-card-status">
                                                                    Оплачен
                                                                </div>
                                                                <a href="#subscribe"
                                                                    class="account__my-notes-results-card-subscribe-btn js-open-modal">
                                                                    Записаться повторно
                                                                </a>
                                                                <div class="account__my-notes-results-card-actions">
                                                                    <svg width="14" height="14" aria-hidden="true"
                                                                        class="icon-three-dots">
                                                                        <use xlink:href="#three-dots"></use>
                                                                    </svg>
                                                                    <div
                                                                        class="account__my-notes-results-card-actions-dropdown">
                                                                        <div
                                                                            class="account__my-notes-results-card-actions-dropdown-inner">
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Изменить время сеанса
                                                                            </a>
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Отменить сеанс
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="account__my-notes-results-list-item">
                                                    <div class="account__my-notes-results-card">
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-user">
                                                                <div
                                                                    class="account__my-notes-results-card-user-image-container">
                                                                    <img src="img/specialists/3.jpg" alt=""
                                                                        class="account__my-notes-results-card-user-image">
                                                                </div>
                                                                <div
                                                                    class="account__my-notes-results-card-user-content">
                                                                    <h4
                                                                        class="account__my-notes-results-card-user-name">
                                                                        Ирина Золотова
                                                                    </h4>
                                                                    <div
                                                                        class="account__my-notes-results-card-user-role">
                                                                        Семейный психолог
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-date">
                                                                16 декабря в 11:00<br>
                                                                (по мск)
                                                            </div>
                                                        </div>
                                                        <div class="account__my-notes-results-card-col">
                                                            <div class="account__my-notes-results-card-subscription">
                                                                <div class="account__my-notes-results-card-status">
                                                                    Оплачен
                                                                </div>
                                                                <a href="#subscribe"
                                                                    class="account__my-notes-results-card-subscribe-btn js-open-modal">
                                                                    Записаться повторно
                                                                </a>
                                                                <div class="account__my-notes-results-card-actions">
                                                                    <svg width="14" height="14" aria-hidden="true"
                                                                        class="icon-three-dots">
                                                                        <use xlink:href="#three-dots"></use>
                                                                    </svg>
                                                                    <div
                                                                        class="account__my-notes-results-card-actions-dropdown">
                                                                        <div
                                                                            class="account__my-notes-results-card-actions-dropdown-inner">
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Изменить время сеанса
                                                                            </a>
                                                                            <a href="#"
                                                                                class="account__my-notes-results-card-actions-dropdown-link">
                                                                                Отменить сеанс
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="account__my-notes-right-col">
                                <form class="account__my-notes-calendar" action="/" method="GET">
                                    <div class="account__my-notes-calendar-select-month">
                                        <select name="date" class="js-custom-select">
                                            <option value="1">
                                                Январь 2020
                                            </option>
                                            <option value="1">
                                                Февраль 2020
                                            </option>
                                            <option value="1">
                                                Март 2020
                                            </option>
                                            <option value="1">
                                                Апрель 2020
                                            </option>
                                            <option value="1">
                                                Май 2020
                                            </option>
                                            <option value="1">
                                                Июнь 2020
                                            </option>
                                            <option value="1">
                                                Июль 2020
                                            </option>
                                            <option value="1">
                                                Август 2020
                                            </option>
                                        </select>
                                    </div>
                                    <div class="account__my-notes-calendar-table">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Пн
                                                    </th>
                                                    <th>
                                                        Вт
                                                    </th>
                                                    <th>
                                                        Ср
                                                    </th>
                                                    <th>
                                                        Чт
                                                    </th>
                                                    <th>
                                                        Пт
                                                    </th>
                                                    <th>
                                                        Сб
                                                    </th>
                                                    <th>
                                                        Вс
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>

                                                    </td>
                                                    <td>
                                                        <a href="#">
                                                            1
                                                        </a>

                                                    </td>
                                                    <td>
                                                        <a href="#">
                                                            2
                                                        </a>

                                                    </td>
                                                    <td>
                                                        <a href="#">
                                                            3
                                                        </a>

                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            4
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            5
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            6
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>

                                                        <a href="#">
                                                            7
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            8
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            9
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            10
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            11
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            12
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            13
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>

                                                        <a href="#" class="current">
                                                            14
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            15
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#">
                                                            16
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            17
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            18
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            19
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            20
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>

                                                        <a href="#">
                                                            21
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="marked">
                                                            22
                                                        </a>
                                                    </td>
                                                    <td>


                                                        <a href="#">
                                                            23
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="#">
                                                            24
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#">
                                                            25
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#">
                                                            26
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#">
                                                            27
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#">
                                                            28
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#">
                                                            29
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#">
                                                            30
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#">
                                                            31
                                                        </a>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                                <div class="account__my-notes-choose-specialist">
                                    <h4 class="account__my-notes-choose-specialist-heading">
                                        Выбрать другого психолога
                                    </h4>
                                    <div class="account__my-notes-choose-specialist-text">
                                        Пройдите тест из 10 вопросов и мы подберем вам психолога
                                    </div>
                                    <a href="#" class="account__my-notes-choose-specialist-link">
                                        Подобрать психолога
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



{{/content}}
{{/extend}}