{{#extend "layout"}}
{{#content "main"}}

<div class="account">
    <div class="container">


        <div class="account__layout">
            <div class="account__layout-left-col">
                <div class="account__panel">
                    <div class="account__user">
                        <div class="account__image-container">
                            <img src="img/account-user-photo.jpg" alt="" class="account__image">
                        </div>
                        <div class="account__user-name">
                            Татьяна
                        </div>

                        <a href="#" class="account__user-phone">
                            7 (999) 435 46 46
                        </a>
                    </div>

                    <nav class="account__menu">
                        <a href="#" class="account__menu-link active">
                            <svg width="14" height="14" aria-hidden="true" class="icon-account-pencil">
                                <use xlink:href="#account-pencil"></use>
                            </svg>
                            <span class="account__menu-link-text">
                                Мои сеансы
                            </span>

                        </a>
                        <a href="#" class="account__menu-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-account-person">
                                <use xlink:href="#account-person"></use>
                            </svg>

                            <span class="account__menu-link-text">
                                Личные данные
                            </span>
                        </a>
                        <a href="#" class="account__menu-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-account-cards">
                                <use xlink:href="#account-cards"></use>
                            </svg>



                            <span class="account__menu-link-text">
                                Мои платежи
                            </span>
                        </a>
                        <a href="#" class="account__menu-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-account-exit">
                                <use xlink:href="#account-exit"></use>
                            </svg>


                            <span class="account__menu-link-text">
                                Выйти
                            </span>
                        </a>
                    </nav>

                </div>
            </div>
            <div class="account__layout-right-col">
                <div class="account__main-content">
                    <div class="account__no-notes">
                        <div class="account__no-notes-card">
                            <img src="img/no-notes-image.png" alt="" class="account__no-notes-card-image">
                            <div class="account__no-notes-card-content">
                                <h3 class="account__no-notes-card-heading">
                                    Нет записей
                                </h3>
                                <div class="account__no-notes-card-text">
                                    <p>
                                        Пройдите тест из 10 вопросов
                                        и мы подберем вам психолога
                                    </p>
                                </div>
                                <a href="#" class="message__btn message__btn--small">
                                    Подобрать психолога
                                </a>
                            </div>
                        </div>
                        <div class="account__no-notes-features">


                            <ul class="home__features-list home__features-list--standalone">
                                <li class="home__features-list-item">
                                    <div class="home__features-icon-container">
                                        <img src="img/features/1.svg" alt="" class="home__features-icon">
                                    </div>
                                    <h4 class="home__features-title">
                                        Гарантированно<br> профессионалы
                                    </h4>
                                </li>
                                <li class="home__features-list-item">
                                    <div class="home__features-icon-container">
                                        <img src="img/features/2.svg" alt="" class="home__features-icon">
                                    </div>
                                    <h4 class="home__features-title">

                                        Удобный выбор<br> расписания
                                    </h4>
                                </li>
                                <li class="home__features-list-item">
                                    <div class="home__features-icon-container">
                                        <img src="img/features/3.svg" alt="" class="home__features-icon">
                                    </div>
                                    <h4 class="home__features-title">

                                        Стоимость сеанса<br> <strong>2500 ₽</strong>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



{{/content}}
{{/extend}}