{{#extend "layout"}}
{{#content "main"}}

<section class="not-found">
    <div class="container">
        <div class="not-found__row">
            <div class="not-found__left-col">
                <img src="img/404.svg" alt="" class="not-found__illustration">
            </div>
            <div class="not-found__right-col">
                <div class="not-found__content">
                    <h1 class="not-found__heading">
                        <em>Упс!</em><br>
                        Что-то<br> пошло не так
                    </h1>
                    <div class="not-found__text">
                        Пожалуйста, вернитесь на предыдущую страницу или на главную страницу
                    </div>
                    <a href="#" class="not-found__link">
                        вернуться на главную
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}