{{#extend "layout"}}
{{#content "main"}}

<section class="message">
    <div class="container">
        <div class="message__row">
            <div class="message__col">
                <div class="message__image-wrapper">
                    <div class="message__image-container">

                        <img src="img/payment-success-illustration.png" alt="" class="message__image">
                    </div>
                </div>
            </div>
            <div class="message__col">
                <div class="message__content">
                    <h1 class="message__heading">
                        Спасибо!<br> Оплата прошла успешно
                    </h1>
                    <div class="message__text">
                        <p>
                            Получить полную информацию о сеансе вы можете<br> в Личном кабинете
                        </p>
                    </div>
                    <div class="message__btns">
                        <a href="#" class="message__btn">
                            Перейти в личный кабинет
                        </a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}