{{#extend "layout"}}
{{#content "main"}}

<section class="message">
    <div class="container">
        <div class="message__row">
            <div class="message__col">
                <div class="message__image-wrapper">
                    <div class="message__image-container">
                        <img src="img/failure-illustration.png" alt="" class="message__image">
                    </div>
                </div>
            </div>
            <div class="message__col">
                <div class="message__content">
                    <h1 class="message__heading">
                        УПС!<br> Оплата не прошла
                    </h1>
                    <div class="message__text">
                        <p>
                            Попробуйте повторить операцию. Если не получается снова, <a href="#">напишите нам</a> и мы
                            вам поможем
                        </p>
                    </div>
                    <div class="message__btns">
                        <a href="#" class="message__btn">
                            Попробуйте еще раз
                        </a>
                        <a href="#" class="message__btn message__btn--blue">
                            вернуться на главную
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}