{{#extend "layout"}}
{{#content "main"}}

<section class="payment">
    <div class="container">
        <h1 class="payment__heading">
            Оплата заказа
        </h1>
        <div class="payment__heading-text">
            К оплате принимаются карты платежных систем VISA, Master Card и МИР.
            Для оплаты введите данные вашей банковской карты в соответствующие поля
        </div>
        <div class="payment__content">
            <div class="payment__details">
                <div class="payment__details-description">
                    <div class="payment__details-row">
                        <div class="payment__details-col">
                            <div class="payment__details-description-title">
                                Описание платежа
                            </div>
                        </div>
                        <div class="payment__details-col">
                            <div class="payment__details-description-title">
                                Номер заказа
                            </div>
                        </div>
                        <div class="payment__details-col">
                            <div class="payment__details-description-title">
                                Сумма платежа
                            </div>
                        </div>
                    </div>
                </div>
                <div class="payment__details-data">
                    <div class="payment__details-row">
                        <div class="payment__details-col">
                            <div class="payment__details-data-title">
                                Сеанс<br>
                                с психо&shy;терапевтом
                            </div>
                        </div>
                        <div class="payment__details-col">
                            <div class="payment__details-data-title">
                                №12958
                            </div>
                        </div>
                        <div class="payment__details-col">
                            <div class="payment__details-data-title">
                                <strong>
                                    2500 ₽
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment__secure">
                <img src="img/lock.svg" alt="" class="payment__secure-icon">
                Данные карты защищены по международному стандарту PCI DSS
            </div>

            <form action="/" method="POST" class="payment__form" data-need-validation id="payment-form">
                <div class="payment__cards">
                    <div class="payment__front-card">
                        <div class="payment__systems">
                            <img src="img/mastercard.svg" alt="" class="payment__systems-logo" width="100">
                            <img src="img/visa.svg" alt="" class="payment__systems-logo" width="100">
                            <img src="img/mir.png" alt="" class="payment__systems-logo" width="100">
                        </div>
                        <div class="payment__card-inputs">
                            <div class="payment__card-row">
                                <div class="payment__card-input-wrapper">
                                    <label for="cardnumber" class="payment__card-label">
                                        Номер карты
                                    </label>
                                    <input type="tel" class="payment__card-input js-card-number" id="cardnumber"
                                        placeholder="0000 0000 0000 0000" required data-parsley-cardnumber>
                                </div>
                            </div>
                            <div class="payment__card-row">
                                <div class="payment__card-input-wrapper">
                                    <label for="cardname" class="payment__card-label">
                                        Имя владельца
                                    </label>
                                    <input type="text" class="payment__card-input" id="cardname"
                                        placeholder="Ivan Ivanov" required>
                                </div>
                                <div class="payment__card-input-wrapper payment__card-input-wrapper--short">
                                    <label for="carddate" class="payment__card-label">
                                        ММ/ГГ
                                    </label>
                                    <input type="tel" class="payment__card-input js-card-date" id="carddate"
                                        placeholder="ММ/ГГ" required data-parsley-carddate>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="payment__back-card">
                        <div class="payment__card-inputs">
                            <div class="payment__back-card-bar"></div>
                            <div class="payment__card-row">
                                <div class="payment__card-input-wrapper">

                                </div>
                                <div class="payment__card-input-wrapper payment__card-input-wrapper--short">
                                    <label for="cardcvv" class="payment__card-label">
                                        CVV/CVC
                                    </label>
                                    <input type="password" class="payment__card-input js-card-cvv" id="cardcvv" required data-parsley-cardcvv placeholder="***">
                                    <div class="payment__card-input-remark">
                                        Последние 3<br> цифры на обороте
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="payment__email-check">
                        <label for="emailcheck" class="payment__email-check-label">
                            E-mail
                        </label>
                        <div class="payment__email-check-inputs">
                            <input type="email" class="payment__email-check-input" data-parsley-validate-if-empty="true" data-parsley-required-if-checked="#emailcheckbox" id="emailcheck">
                            <label class="payment__email-check-checkbox">
                                <input type="checkbox" name="emailcheckbox" id="emailcheckbox"
                                    class="payment__email-check-checkbox-input" checked>
                                <span class="payment__email-check-checkbox-mark">

                                </span>
                                <span class="payment__email-check-checkbox-text">
                                    Отправить электронный чек на email
                                </span>

                            </label>
                        </div>
                    </div>

                    <div class="payment__btns">
                        <a href="#" class="auth__form-btn">
                            Назад
                        </a>
                        <button class="auth__form-btn auth__form-btn--submit">
                            Оплатить
                        </button>
                    </div>


                </div>
            </form>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}