{{#extend "layout"}}
{{#content "main"}}

<section class="auth-psycho">
    <div class="container">
        <div class="auth-psycho__content">
            <h1 class="auth-psycho__heading">
                Пароль изменен
            </h1>
            <div class="auth-psycho__heading-text">
                <p>
                    Теперь вы можете использовать новые сведения<br> для входа в личный кабинет
                </p>
            </div>
            <a href="#" class="auth-psycho__enter-link">
                войти в личный кабинет
            </a>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}