{{#extend "layout"}}
{{#content "main"}}

<section class="auth">
    <div class="container">
        <div class="auth__row">
            <div class="auth__content">
                <h1 class="auth__heading">
                    Пароль изменен
                </h1>
                <div class="auth__heading-text">
                    <p>
                        Теперь вы можете использовать новые сведения<br> для входа в личный кабинет
                    </p>
                </div>
                <a href="#" class="auth__enter-link">
                    войти в личный кабинет
                </a>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}