{{#extend "layout"}}
{{#content "main"}}

<section class="auth-psycho">
    <div class="container">
        <div class="auth-psycho__content">
            <h1 class="auth-psycho__heading">
                Вход
            </h1>
            <div class="auth-psycho__heading-text">
                <p>
                    Пожалуйста, введите свой номер телефона и пароль,<br> который вы использовали для входа в личный
                    кабинет
                </p>
            </div>
            <form action="/" method="POST" class="auth-psycho__form" data-need-validation>
                <div class="auth-psycho__form-row">
                    <input type="tel" class="auth-psycho__form-input js-phone-input" id="phone" placeholder="Телефон" required data-parsley-phone>
                    <label for="phone" class="auth-psycho__form-label">
                        Телефон
                    </label>
                </div>
                <div class="auth-psycho__form-row">
                    <input type="password" class="auth-psycho__form-input" id="password" placeholder="Пароль" required>
                    <label for="password" class="auth-psycho__form-label">
                        Пароль
                    </label>
                </div>


                <div class="auth-psycho__form-row">
                    <a href="register-2-psycho.html" class="auth__form-already-has-an-account">
                        <svg width="14" height="14" aria-hidden="true" class="icon-lock">
                            <use xlink:href="#lock"></use>
                        </svg>
                        <span class="auth__form-already-has-an-account-text">Забыли логин и пароль</span>
                    </a>
                </div>
                <div class="auth-psycho__form-row">
                    <div class="auth-psycho__form-controls">
                        <label class="auth-psycho__checkbox">
                            <input type="checkbox" name="policy" value="1" class="auth-psycho__checkbox-input" required>
                            <span class="auth-psycho__checkbox-mark">

                            </span>
                            <span class="auth-psycho__checkbox-text">
                                Я принимаю условия <a href="#">обработки персональных данных</a> 
                            </span>
                        </label>
                        <button class="auth-psycho__submit">
                            Войти
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}