{{#extend "layout"}}
{{#content "main"}}
<section class="stages stages--after-poll">
    <div class="container">
        <div class="stages__items-wrapper">
            <div class="stages__items">
                <div class="stages__card">
                    <div class="stages__card-number">
                        1
                    </div>
                    Пожелания и запросы
                </div>
                <div class="stages__divider">

                </div>
                <div class="stages__card active">
                    <div class="stages__card-number">
                        2
                    </div>
                    Авторизация
                </div>
                <div class="stages__divider">

                </div>
                <div class="stages__card">
                    <div class="stages__card-number">
                        3
                    </div>
                    Выбор терапевта
                </div>
            </div>
        </div>
    </div>
</section>
<section class="auth auth--after-poll">
    <div class="container">
        <div class="auth__row">
            <div class="auth__content">
                <h1 class="auth__heading">
                    Восстановление пароля
                </h1>
                <div class="auth__heading-text">
                    <p>
                        Пожалуйста, введите свой номер телефона, мы пришлем вам проверочный код
                    </p>
                </div>
                <form action="/" method="POST" class="auth__form" data-need-validation autocomplete="new-password">

                    <div class="auth__form-row">
                        <label for="phone" class="auth__form-label">
                            Телефон
                        </label>
                        <div class="auth__form-input-wrapper">
                            <input type="tel" name="phone" id="phone" class="auth__form-input js-phone-input" required
                                data-parsley-phone>

                        </div>
                    </div>

                    <div class="auth__form-row">
                        <label for="code" class="auth__form-label">
                            Код из смс
                        </label>
                        <div class="auth__form-input-wrapper">
                            <input type="text" name="phone" id="code" class="auth__form-input" required>

                            <div class="auth__form-input-remark">
                                На указанный вами номер было отправлено SMS с кодом подтверждения. Отправить еще раз (3)
                                через 284 сек.
                            </div>
                        </div>
                    </div>

                    <div class="auth__form-bottom-block">
                        <div class="auth__form-bottom-btns">
                            <button class="auth__form-btn auth__form-btn--submit">
                                Сменить пароль
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}