{{#extend "layout"}}
{{#content "main"}}
<section class="stages stages--after-poll">
    <div class="container">
        <div class="stages__items-wrapper">
            <div class="stages__items">
                <div class="stages__card">
                    <div class="stages__card-number">
                        1
                    </div>
                    Пожелания и запросы
                </div>
                <div class="stages__divider">

                </div>
                <div class="stages__card active">
                    <div class="stages__card-number">
                        2
                    </div>
                    Авторизация
                </div>
                <div class="stages__divider">

                </div>
                <div class="stages__card">
                    <div class="stages__card-number">
                        3
                    </div>
                    Выбор терапевта
                </div>
            </div>
        </div>
    </div>
</section>
<section class="auth auth--after-poll">
    <div class="container">
        <div class="auth__row">
            <div class="auth__content">
                <h1 class="auth__heading">
                    Пароль изменен
                </h1>
                <div class="auth__choses-specialists">
                    <ul class="auth__choses-specialists-list">
                        <li class="auth__choses-specialists-list-item">
                            <div class="auth__choses-specialists-image-container">
                                <img src="img/specialists/1.jpg" alt="" class="auth__choses-specialists-image">
                            </div>
                        </li>
                        <li class="auth__choses-specialists-list-item">
                            <div class="auth__choses-specialists-image-container">
                                <img src="img/specialists/2.jpg" alt="" class="auth__choses-specialists-image">
                            </div>
                        </li>
                        <li class="auth__choses-specialists-list-item">
                            <div class="auth__choses-specialists-image-container">
                                <img src="img/specialists/3.jpg" alt="" class="auth__choses-specialists-image">
                            </div>
                        </li>
                        <li class="auth__choses-specialists-list-item">
                            <div class="auth__choses-specialists-image-container">
                                <img src="img/specialists/4.jpg" alt="" class="auth__choses-specialists-image">
                            </div>
                        </li>
                        <li class="auth__choses-specialists-list-item">
                            <div class="auth__choses-specialists-image-container">
                                <img src="img/specialists/5.jpg" alt="" class="auth__choses-specialists-image">
                            </div>
                        </li>
                    </ul>
                    <div class="auth__choses-specialists-text">
                        Теперь вы можете посмотреть 5 специалистов,<br> которые мы подобрали для вас
                    </div>
                </div>
                <div class="auth__completion-buttons">
                    <a href="#" class="auth__form-btn">
                        Назад
                    </a>
                    <a href="#" class="auth__form-btn auth__form-btn--submit">
                        Далее
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}