.landing-footer {
    position: relative;
    z-index: 1;
  
    padding-top: 10rem;

    @include breakpoint(mobile) {
        padding-top: 3rem;
    }
}

.landing-footer__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;

    pointer-events: none;

    &::after {
        content: '';
        width: 100%;
        height: 1rem;
        flex-grow: 1;
        background-color: #E6F2F6;
    }
}

.landing-footer__waves {
    display: block;
    height: auto;
    width: 100%;
}

.landing-footer__top-row {
    max-width: 137rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(122, 190, 209, 0.27);
    align-items: center;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 2rem;
        padding-bottom: 4rem;
        margin: 0;
        max-width: none;
        justify-items: center;
    }
}

.landing-footer__bottom-row {
    max-width: 137rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 6.4rem;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: rgba(0, 0, 0, 0.35);

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 2rem;
        justify-items: center;
        padding-top: 4rem;
        padding-bottom: 3rem;
        text-align: center;
    }
}

.landing-footer__made-by {
    display: inline-flex;
    align-items: center;

    @include breakpointMF(small-tablet) {
        grid-column: 4 / 5;
        justify-self: flex-end;
    }
    img {
        width: 6.4rem;
        height: auto;
        position: relative;
        bottom: -0.3rem;
        flex-shrink: 0;
        margin-left: 0.5rem;
    }
}

.landing-footer__logo {
    width: 13rem;
    margin-top: 1.5rem;
    margin-left: -1rem;
}

.landing-footer__logo-image {
    width: 100%;
    height: auto;
    display: block;
}

.landing-footer__email {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1.2;

    @include breakpoint(mobile) {
        font-weight: 300;
        font-size: 1.7rem;
        line-height: 1.2;
    }
}

.landing-footer__work {
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.35);

    &:link,
    &:visited {
        color: rgba(0, 0, 0, 0.35);
    }
}

.landing-footer__social {
    display: inline-flex;
    align-items: center;

    @include breakpointMF(small-tablet) {
        justify-self: flex-end;
    }
}

.landing-footer__social-link {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: 2rem;

    svg {
        fill: black;
        width: 100%;
        height: 100%;
        display: block;
    }
    &:last-child {
        margin-right: 0;
    }
}

.landing-footer__has-questions {
    max-width: 137rem;
    margin: 0 auto;
    background: #ffffff;
    background-image: url('../img/landing-footer-illustration.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto 90%;
    border-radius: 2rem;
    padding: 10rem;
    margin-bottom: 8rem;
    position: relative;

    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 4rem;
        padding: 3rem;
        padding-bottom: 22rem;
        background-size: 90% auto;
        background-position: bottom right;
        max-width: none;
    }

    &::before {
        content: '';
        position: absolute;
        left: 9rem;
        top: 100%;
        width: 8rem;
        height: 3rem;
        background-image: url('../img/landing-footer-corner.svg');
        background-size: contain;
        background-position: center top;
        background-repeat: no-repeat;

        @include breakpoint(mobile) {
            width: 5rem;
            height: 2rem;
            left: 2.5rem;
        }
    }
}

.landing-footer__has-questions-heading {
    font-weight: normal;
    font-size: 4.8rem;
    line-height: 6.2rem;
    margin-bottom: 1.5rem;

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 1.5rem;
    }
}

.landing-footer__has-questions-text {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.8rem;
    color: #a8a8a8;
    margin-bottom: 3.5rem;
    max-width: 60rem;

    @include breakpoint(mobile) {
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.9rem;
        margin-bottom: 2.5rem;
    }
}

.landing-footer__has-questions-link {
    padding: 2.5rem 4rem;
    background: #e56a59;
    border-radius: 1rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.7rem;
    line-height: 2rem;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        padding: 2rem 2.2rem;
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-top: 0;
    }

    &:link,
    &:visited {
        color: white;
    }

    @include redHover();
}
