.nav-link-cursor {
    width: 6.6rem;
    height: 6.6rem;
    pointer-events: none;
   
   
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 7;


    
}


.nav-link-cursor__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
}