.therapy {
    position: relative;
    z-index: 1;
}

.therapy__bg {
    z-index: -1;
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    max-width: none;
    top: -5rem;
    bottom: 0;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        top: -5rem;
    }

    &::after {
        content: '';
        display: block;
        background-color: #e6f2f6;
        // background-color: red;
        flex-grow: 1;
        width: 100%;
        margin-top: -1px;
    }
}

.therapy__waves {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.therapy__heading {
    font-size: 4.8rem;
    line-height: 6.8rem;

    font-weight: 400;
    text-align: center;
    margin-bottom: 20rem;

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 4rem;
    }
}

.therapy__illustration {
    height: 112rem;
    position: relative;

    @include breakpoint(mobile) {
        height: auto;
        padding-top: 36rem;
    }
}

.therapy__solves {
    @include breakpointMF(small-tablet) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        top: -18rem;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 0rem;
        grid-column-gap: 5rem;
        max-width: 110rem;
        z-index: 100;
        align-items: center;
        justify-items: center;
    }

    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 0.8rem;
        margin-top: -10rem;
        margin-bottom: 4rem;
    }
}

.therapy__solves-card {
    @include breakpointMF(small-tablet) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 27rem;
        height: 27rem;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        color: black;
        padding: 4rem;
        position: relative;
        &:nth-child(1) {
            .therapy__solves-card-spiral {
                
                position: absolute;
                left: 100%;
                top: 50%;
                transform-origin: left center;
                transform: translateY(-50%) rotate(25deg);
                width: 8rem;
                height: 3.4rem;
                background-size: contain;
                background-image: url('../img/short-spiral.svg');
                background-repeat: no-repeat;
                background-position: center;
                z-index: 30;
                margin-left: -5rem;
                margin-top: 11rem;
            }
        }
        &:nth-child(2) {
            .therapy__solves-card-spiral {
                
                position: absolute;
                right: 100%;
                top: 50%;
                transform-origin: left center;
                transform: translateY(-50%) rotate(-35deg);
                width: 9rem;
                height: 4rem;
                background-size: contain;
                background-image: url('../img/short-spiral.svg');
                background-repeat: no-repeat;
                background-position: center;
                z-index: 30;
                
                margin-top: 12rem;
                margin-right: -3rem;
            }
        }
        &:nth-child(3) {
            justify-self: flex-start;

            .therapy__solves-card-spiral {
               
                position: absolute;
                left: 100%;
                top: 50%;
                transform-origin: left center;
                transform: translateY(-50%) rotate(-15deg);
                width: 13.4rem;
                height: 6.4rem;
                background-size: contain;
                background-image: url('../img/spiral.svg');
                background-repeat: no-repeat;
                background-position: center;
                z-index: 30;
                margin-left: 1rem;
               
            }
        }

        &:nth-child(4) {
            justify-self: flex-end;

            .therapy__solves-card-spiral {
                
                position: absolute;
                right: 100%;
                top: 50%;
                transform-origin: left center;
                transform: translateY(-50%) rotate(15deg);
                width: 14.6rem;
                height: 6.4rem;
                background-size: contain;
                background-image: url('../img/spiral.svg');
                background-repeat: no-repeat;
                background-position: center;
                z-index: 30;
                margin-right: 1rem;
                margin-top: -4rem;
               
            }
        }

        &:nth-child(5) {

            .therapy__solves-card-spiral {
               
                position: absolute;
                left: 100%;
                top: 50%;
                transform-origin: left center;
                transform: translateY(-50%) rotate(-45deg);
                width: 14.6rem;
                height: 6.4rem;
                background-size: contain;
                background-image: url('../img/spiral.svg');
                background-repeat: no-repeat;
                background-position: center;
                z-index: 30;
                margin-top: -14rem;
                margin-left: -6rem;
               
            }
        }
        &:nth-child(6) {

            .therapy__solves-card-spiral {
               
                position: absolute;
                right: 100%;
                top: 50%;
                transform-origin: left center;
                transform: translateY(-50%) rotate(45deg);
                width: 14.6rem;
                height: 6.4rem;
                background-size: contain;
                background-image: url('../img/spiral.svg');
                background-repeat: no-repeat;
                background-position: center;
                z-index: 30;
                margin-top: -22rem;
                margin-right: -8rem;
              
               
            }
        }
    }

    @include breakpoint(mobile) {
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        padding: 2rem;
    }
}

.therapy__solves-card-spiral {
    @include breakpoint(small-tablet) {
        display: none;
    }
}

.therapy__solves-card-title {
    font-size: 1.7rem;
    line-height: 2.5rem;
    font-weight: 400;
    margin-bottom: 1.7rem;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 0.8rem;
    }
}

.therapy__solves-card-text {
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 2.2rem;
    color: #a8a8a8;

    @include breakpoint(mobile) {
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}

.therapy__illustration-image {
    position: absolute;
    top: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    margin-left: 10rem;
    max-width: none;
    z-index: -1;

    @include breakpoint(mobile) {
        margin-left: 3rem;
        height: 36rem;
    }
}

.therapy__how-to-choose {
    background: #ffffff;
    border-radius: 3.5rem;
    padding-top: 11.5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 11rem;
    max-width: 137rem;
    margin: 0 auto;
    margin-top: -33rem;
    z-index: 50;
    position: relative;
    margin-bottom: 29rem;

    @include breakpoint(mobile) {
        margin: 0 calc(-1 * var(--content-padding));
        padding: 0 var(--content-padding);
        padding-top: 4.5rem;
        padding-bottom: 3.2rem;
        border-radius: 1.7rem;
        margin-bottom: 14rem;
    }
    &::before {
        content: '';
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 3.5rem;
        top: -2.5rem;
        bottom: 2.5rem;
        left: 5rem;
        right: 5rem;
        z-index: -1;

        @include breakpoint(mobile) {
            background: rgba(255, 255, 255, 0.5);
            border-radius: 1.7rem;
            top: -0.9rem;
            left: 1.3rem;
            right: 1.3rem;
            bottom: 1.3rem;
        }
    }
    &::after {
        content: '';
        position: absolute;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 3.5rem;
        top: -4.8rem;
        bottom: 4.8rem;
        left: 10rem;
        right: 10rem;
        z-index: -1;

        @include breakpoint(mobile) {
            border-radius: 1.7rem;
            left: 3rem;
            right: 3rem;
            top: -1.5rem;
            bottom: 2rem;
        }
    }
}

.therapy__how-to-choose-heading {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 4.8rem;
    line-height: 6.8rem;
    font-weight: 400;

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 2.4rem;
        margin-bottom: 2rem;
    }
}

.therapy__how-to-choose-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 5rem;
    margin-bottom: 8rem;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 0rem;
        margin-bottom: 3rem;
    }
}

.therapy__how-to-choose-list-item {
    display: flex;
    flex-direction: column;
}

.therapy__how-to-choose-card {
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }
}

.therapy__how-to-choose-card-image-container {
    position: relative;
    z-index: 1;
    pointer-events: none;

    @include breakpoint(mobile) {
        width: 15rem;
        flex-shrink: 0;
        margin-right: 0rem;
        margin-left: -1rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;

        @include breakpoint(mobile) {
            padding-bottom: 70%;
        }
    }
}

.therapy__how-to-choose-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    z-index: -1;
    user-select: none;
    -webkit-user-drag: none;
}

.therapy__how-to-choose-card-number {
    width: 5.6rem;
    height: 5.6rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    bottom: 0;
    background: rgba(122, 190, 209, 0.1);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    line-height: 1.2;
    text-align: center;
    position: relative;
    z-index: 1;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: -5rem;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background: #7abed1;
        z-index: -1;
        transform: translate(-50%, -50%);
    }

    @include breakpoint(mobile) {
        width: 3.2rem;
        height: 3.2rem;
        font-size: 1rem;
        line-height: 1.2;
        left: auto;
        right: 3rem;
        bottom: auto;
        position: absolute;
        top: 50%;
        margin: 0;
        transform: translateX(50%) translateY(-50%);
        &::before {
            width: 1.8rem;
            height: 1.8rem;
        }
    }
}

.therapy__how-to-choose-card-text {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    margin-top: -2rem;

    @include breakpoint(mobile) {
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin: 0;
        text-align: left;
    }
    a {
        color: #7abed1;
        border-bottom: 1px solid rgba(122, 190, 209, 0.5);
        transition: color 0.2s, border-color 0.2s;

        &:link,
        &:visited {
            color: #7abed1;
        }

        &:hover {
            border-color: transparent;
        }
    }
}

.therapy__start-now {
    background: #ebf5f8;
    border-radius: 2.5rem;
    padding: 5rem 6rem;
    background-image: url('../img/start-now-bubble.svg');
    background-size: auto 110%;
    background-repeat: no-repeat;
    background-position: right bottom;
    color: black;
    position: relative;
    max-width: 110rem;
    margin: 0 auto;

    @include breakpoint(mobile) {
        padding: 2.5rem;
        margin: 0;
        border-radius: 1.7rem;
        padding-bottom: 0;
        max-width: none;
        background-size: 100% auto;
        background-position: center bottom;
    }
}

.therapy__start-now-heading {
    margin-bottom: 4.2rem;
    font-size: 3.5rem;
    line-height: 4.2rem;
    font-weight: 400;
    max-width: 35rem;

    @include breakpoint(mobile) {
        max-width: none;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 2.7rem;
    }
}

.therapy__start-now-image {
    position: absolute;
    bottom: 0;
    pointer-events: none;
    width: 46.7rem;
    height: auto;
    right: 4rem;

    @include breakpoint(small-tablet) {
        width: 35rem;
        right: 0;
    }

    @include breakpoint(mobile) {
        position: static;
        width: 100%;
        height: auto;
        order: 12;
        margin-top: 2rem;
    }
}

.therapy__begin-now {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 0.8;
    letter-spacing: 0.06em;
    color: #e56a59;
    position: relative;
    transform: rotate(-15deg);
    margin-bottom: 4rem;
    font-family: 'Rage', serif;
    max-width: 23rem;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 0.8;
        max-width: 15rem;
        transform: rotate(-12.59deg);
        margin-bottom: 3rem;
    }
    &::before {
        content: '';
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 7.8rem;
        height: 0.74rem;
        background-image: url('../img/dash-inverse.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        margin-top: 0.5rem;
        margin-left: -3.5rem;

        @include breakpoint(mobile) {
            margin-left: -1.5rem;
            width: 6.6rem;
            height: 0.6rem;
        }
    }
}

.therapy__you-get {
    padding-bottom: 16rem;
    text-align: center;
    position: relative;
    z-index: 1;
    max-width: 137rem;
    margin: 0 auto;

    @include breakpoint(mobile) {
        padding-bottom: 8rem;
        margin: 0;
        max-width: none;
    }
}

.therapy__you-get-bg {
    position: absolute;
    z-index: -1;
    top: -35rem;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
        top: -25rem;
    }

    @include breakpoint(small-tablet) {
        top: -10rem;
    }

    @include breakpoint(mobile) {
        top: -18rem;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1rem;
        flex-grow: 1;
        background-color: white;
        margin-top: -1px;
    }
}

.therapy__you-get-waves {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    margin-top: -36rem;

    @include breakpoint(mobile) {
        margin: 0;
    }
}

.therapy__you-get-heading {
    text-align: center;
    font-size: 4.8rem;
    line-height: 6.2rem;

    font-weight: 400;
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
}

.therapy__you-get-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 6rem;
    grid-column-gap: 8rem;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 2rem;
    }
}

.therapy__you-get-list-item {
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
    }
}

.therapy__you-get-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;

    @include breakpoint(mobile) {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }
}

.therapy__you-get-card-image-container {
    position: relative;

    @include breakpoint(mobile) {
        flex-shrink: 0;
        margin-right: 1rem;
        width: 13rem;
        margin-left: -1rem;
    }
    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;

        @include breakpoint(mobile) {
            padding-bottom: 100%;
        }
    }
}

.therapy__you-get-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.therapy__you-get-card-title {
    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 1rem;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-bottom: 0.5rem;
    }
}

.therapy__you-get-card-text {
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 2.2rem;
    color: #a8a8a8;

    @include breakpoint(mobile) {
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}

.therapy__you-get-link {
    margin: 0 auto;
    padding: 2.5rem 4rem;
    background: #e56a59;
    border-radius: 1rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.7rem;
    line-height: 2rem;
    text-transform: uppercase;
    margin-top: 8rem;

    @include breakpoint(mobile) {
        padding: 2rem 2.2rem;
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-top: 4rem;
    }
    &:link,
    &:visited {
        color: white;
    }

    @include redHover();
}
