@import 'vendor';
@import 'mixins';
@import 'global';
@import 'fontface';
@import 'layout';
@import 'page-header';
@import 'home';
@import 'nav-link-cursor';
@import 'auth';
@import 'corner-illustration';
@import 'stages';
@import 'poll';
@import 'right-corner-illustration';
@import 'choose-specialist';
@import 'select-time';
@import 'modals';
@import 'payment';
@import 'message';
@import 'account';
@import 'not-found';
@import 'remember';
@import 'auth-psycho';
@import 'recommendations';
@import 'help-modal';
@import 'faq';
@import 'warning';
@import 'problems';
@import 'therapy';
@import 'how-we-choose';
@import 'landing-footer';
@import 'methods';
@import 'reviews';
@import "phonecode";

.choices__inner {
  flex-direction: column !important;
}

.choices__input {
  &.choices__input--cloned {
    margin-top: 10px !important;
    width: 100% !important;
    border: 1px solid #00bcd4 !important;
  }
}

textarea.account__my-account-form-input {
  padding: 1.8rem 2.5rem !important;
  height: 8rem !important;
}
